#primaryNav
li{width:25%}#primaryNav li ul
li{width:100% !important}#primaryNav.col1
li{width:99.9%}#primaryNav.col2
li{width:50.0%}#primaryNav.col3
li{width:33.3%}#primaryNav.col4
li{width:25.0%}#primaryNav.col5
li{width:20.0%}#primaryNav.col6
li{width:16.6%}#primaryNav.col7
li{width:14.2%}#primaryNav.col8
li{width:12.5%}#primaryNav.col9
li{width:11.1%}#primaryNav.col10
li{width:10.0%}#primaryNav
a{text-decoration:none}#primaryNav ol,ul{list-style:none}.singular-wrapper #primaryNav.col3
li{float:left;width:100%}#primaryNav{margin:0;float:left;width:100%}#primaryNav
#home{display:block;float:none;background:url(//www.annabelkarmel.com/wp-content/plugins/slick-sitemap/images/L1-left.png) center bottom no-repeat  #FFF;position:relative;z-index:2;padding:0
0 30px 0}.wysiwyg-content
ul{margin-top:0 !important}#primaryNav li
a{float:left;list-style:none;position:relative}.flexible-content .wysiwyg-content #primaryNav>li>a{font-size:20px}#primaryNav li
a{display:block;font-size:16px;text-align:left;color:#4da2d0;font-weight:600;position:relative;padding-left:10px}#primaryNav li:before{color:#b3b3b3;content:'•';display:block;left:0;position:absolute;top:0}a:link:before,a:visited:before{display:block;text-transform:uppercase;font-size:10px;margin-bottom:5px;word-wrap:break-word}#primaryNav li a:link:before,
#primaryNav li a:visited:before{color:#78a9c0}#primaryNav li
li{width:100%;clear:left;margin-top:0}#primaryNav li li
ul{width:100%;float:right;padding-left:0}#primaryNav li li li
a{font-size:14px;width:100%;float:right}#primaryNav li a:before{content:"";position:absolute;left:0;width:5px;border-radius:100%;height:5px;background:#4da2d0;top:10px}#utilityNav{float:right;max-width:50%;margin-right:10px}#utilityNav
li{float:left;margin-bottom:10px;list-style:none}#utilityNav li
a{margin:0
10px 0 0;padding:5px
10px;display:block;border:2px
solid #e3ca4b;font-size:12px;text-align:center;color:black;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-box-shadow:rgba(0,0,0,0.5) 2px 2px 2px;-moz-box-shadow:rgba(0,0,0,0.5) 2px 2px 2px}#utilityNav li a:hover{background-color:#fffce5;border-color:#d1b62c}#utilityNav li a:link:before,
#utilityNav li a:visited:before{color:#ccae14;font-size:9px;margin-bottom:3px}.wysiwyg-content ul:not(.alm-listing)>li::before{display:none !important}