@import url(https://fonts.googleapis.com/css?family=Glegoo:400,700|Rosario:400,700,400italic,700italic);

/**
 * Tags CSS
 */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a, a:active, a:hover, a:visited {
	color: inherit;
	cursor: pointer;
	font-weight: 700;
	text-decoration: none;
}

a img {
	border: none !important;
}

blockquote {
	background: #f0faff;
	padding: 2em;
}
body {
	color: #353535;
	font-family: 'Rosario', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.01em;
	line-height: 1.625em;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

h1 {
	color: #353535;
	font-family: 'Glegoo', serif;
	font-size: 2.25em;
	font-weight: 700;
	line-height: 1.389em;
}

h2 {
	color: #353535;
	font-family: 'Glegoo', serif;
	font-size: 1.75em;
	font-weight: 700;
	line-height: 1.357em;
}

h3 {
	color: #353535;
	font-family: 'Glegoo', serif;
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1.5em;
}

h4 {
	color: #353535;
	font-family: 'Glegoo', serif;
	font-size: 1.25em;
	font-weight: 700;
	line-height: 1.5em;
}

hr {
	border: none;
	border-top: 1px dashed #b3b3b3;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
}

blockquote, p, table, .mceTemp > dl.wp-caption {
	margin: 1.5em 0;
}

blockquote:first-child, p:first-child, table:first-child, .mceTemp:first-child > dl.wp-caption {
	margin-top: 0;
}

blockquote:last-child, p:last-child, table:last-child, .mceTemp:last-child > dl.wp-caption {
	margin-bottom: 0;
}

ol, ul {
	list-style-position: inside;
}

table {
	width: 100%;
}

/**
 * Class CSS
 */
.dropcap {
	float: left;
	font-size: 3em;
	line-height: 1em;
	margin: 0.05em 0.1em 0 0;
}
	
.dropcap-dark, .dropcap-light {
	background: #8dc8e8;
	border-radius: 100%;
	color: #fff;
	text-align: center;
	width: 1em;
}
	
.dropcap-light {
	background: #f0faff;
	color: #8dc8e8;
}
.gf_browser_safari .wysiwyg-content ul:not(.alm-listing)>li::before{
	display: none;
}