/**
 * Variables
 */

// Backgrounds
$bg-color: #e9f4fb;
$secondary-bg-color: #4da2d0;
$tertiary-bg-color: #fff;
$fourth-bg-color: #8dc8e8;
$drop-shadow-bg-color: #000;

// Fonts
$body-font: 'Rosario', sans-serif;
$heading-font: 'Glegoo', serif;
$font-color: #353535;
$link-color: #4da2d0;
$mid-font-color: #b3b3b3;
$light-font-color: #fff;

.post-widget{
	transform: scale(1);
	opacity: 1.0;
}
/**
 * Tags CSS
 */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	&, &:active, &:hover, &:visited {
		color: inherit;
		cursor: pointer;
		font-weight: 700;
		text-decoration: none;
	}
	
	img {
		border: none !important;
	}
}

body {
	background: $bg-color;
	background-image: url('../images/apple-bg.png');
	background-position: center center;
	background-repeat: repeat;
	background-size: 228px 474px;
	color: $font-color;
	font-family: $body-font;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.01em;
	line-height: 1.625em;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

button:not(.mfp-close):not(.dropdown-toggle):not(.lines-button):not(.pswp__button), .button, button.alm-load-more-btn, button.alm-load-more-btn.done, input[type='submit'] {
	&, &:hover {
		background: $secondary-bg-color;
		border: none;
		border-radius: 0.25em;
		color: $light-font-color;
		cursor: pointer;
		font-family: $body-font;
		font-size: 0.875rem;
		font-weight: 700;
		height: auto;
		letter-spacing: 0.02em;
		line-height: 1em;
		padding: 0.5em 1.5em;
		text-transform: uppercase;
	}
}

h1 {
	color: $font-color;
	font-family: $heading-font;
	font-size: 2.25em;
	font-weight: 700;
	line-height: 1.389em;
	word-break: break-word;
}

h2 {
	color: $font-color;
	font-family: $heading-font;
	font-size: 1.75em;
	font-weight: 700;
	line-height: 1.357em;
}

h3 {
	color: $font-color;
	font-family: $heading-font;
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1.5em;
}

h4 {
	color: $font-color;
	font-family: $heading-font;
	font-size: 1.25em;
	font-weight: 700;
	line-height: 1.5em;
}

h5 {
	color: $font-color;
	font-family: $heading-font;
	font-size: 1.125em;
	font-weight: 700;
	line-height: 1.5em;
}

h6 {
	margin: 1em 0;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
}

input {
	&[type='email'], &[type='password'], &[type='search'], &[type='text'] {
		appearance: none;
		background: #fff;
		border: 1px solid #fff;
		border-radius: 0.25em;
		font: inherit;
		font-size: 0.875em;
		line-height: 1em;
		outline: none;
		padding: 0.5em 1em;
		transition: border-color 0.4s;
		
		&:focus {
			border-color: $secondary-bg-color;
		}
	}
}

/**
 * Class CSS
 */
b, strong, .bold {
	font-weight: 700;
}

.clear {
	clear: both;
}

.table {
	border-collapse: collapse;
	display: table;
	width: 100%;
	
	.row {
		display: table-row;
	}
	
	.cell, .cell-head {
		display: table-cell;
		vertical-align: middle;
	}
}

.wrapper {
	position: relative;
	
	&.hide_menu {
		transform: none;
		transition: transform 300ms ease;
	}
	
	&.show_menu {
		transform: none;
		transition: transform 300ms ease;
	}
	
	@media (max-width: 930px) {
		&.hide_menu {
			transform: translateX(0);
		}
		
		&.show_menu {
			transform: translateX(256px);
		}
	}
}

/**
 * ID CSS
 */
#outer-content {
	padding-top: 164px;
	
	@media (max-width: 930px) {
		padding-top: 74px;
	}
}

#content {
	padding: 2em;
}

/**
 * Adverts
 */
body > div[id^='paszonecont_'] {
	left: 50%;
	margin-left: -900px !important;
	position: fixed;
	top: 164px;
	
	body.admin-bar > & {
		top: 196px;
	}
	
	~ .wrapper .subscribe {
		&, & + .breadcrumbs {
			margin: 0 auto;
			max-width: 1160px;
		}
	}
}

body.logged-in > div[id^='paszonecont_'] ~ .wrapper #footer {
	border-top: none;
	
	&::before {
		border-top: 2px dashed $link-color;
		content: '';
		display: block;
		margin: 0 auto;
		max-width: 1160px;
	}
}

#outer-content, #footer {
	> .akc-wppaszone, > .paszone_container {
		padding-top: 20px;
	}
}

#footer > .social {
	~ .akc-wppaszone, ~ .paszone_container {
		padding: 0 0 20px;
	}
}

/**
 * Responsive Menu
 */
#responsive-menu {
	background: $fourth-bg-color;
	box-shadow: -5px 2px 10px 0 rgba($drop-shadow-bg-color, 0.1) inset;
	bottom: 0;
	color: $light-font-color;
	display: none;
	left: 0;
	overflow: auto;
	padding: 0;
	position: fixed;
	top: 0;
	transform: scale(1);
	width: 256px;
	z-index: 100000;
	
	> form {
		padding: 10px 20px;
		
		> .search-field {
			background-image: url('../images/search.png');
			background-position: right 1em center;
			background-repeat: no-repeat;
			background-size: 16px 16px;
			padding-right: 3em;
			width: 100%;
		}
	}
	
	> .top-bar {
		border-bottom: 1px solid #86c0df;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 0 20px 10px;
		
		> a {
			display: inline-block;
			font-weight: 400;
			text-align: center;
			width: 50%;
			
			body:not(.logged-in) &:nth-child(2) {
				display: none;
			}
		}
	}
	
	> nav {
		transform: translateZ(0);
	}
	
	.ubermenu-items-align-left.ubermenu-horizontal .ubermenu-item.ubermenu-item-level-0 {
		display: block;
		float: none;
	}
	
	.ubermenu-item, div.ubermenu-submenu > .ubermenu-target {
		border-bottom: 1px solid #86c0df;
	}
	
	.ubermenu-nojs.ubermenu-transition-shift .ubermenu-item:hover > .ubermenu-submenu-drop, .ubermenu-transition-shift .ubermenu-item.ubermenu-active > .ubermenu-submenu-drop, .ubermenu .ubermenu-divider, .ubermenu-submenu {
		display: none;
	}
	
	.ubermenu .ubermenu-submenu .ubermenu-column {
		float: none;
		width: 100% !important;
	}
	
	.ubermenu-item-has-children {
		> a {
			outline: none !important;
			padding-right: 30px;
			position: relative;
			
			&::after {
				content: '\f105';
				display: block;
				font-family: 'FontAwesome';
				font-size: 1.5em;
				position: absolute;
				right: 10px;
				text-decoration: none !important;
				top: 50%;
				transform: translateY(-50%);
				transition: transform 0.4s;
			}
		}
	}
	
	.ubermenu-nav {
		transition: transform 0.4s;
		
		&.slide-away {
			transform: translateX(-100%);
		}
	}
	
	.ubermenu .ubermenu-row {
		margin-bottom: 0;
	}
	
	.ubermenu-submenu-drop, .ubermenu .ubermenu-item > .ubermenu-submenu-drop {
		overflow: visible !important;
	}
	
	li.active-panel > .ubermenu-submenu, .ubermenu-transition-shift .ubermenu-item.ubermenu-active.active-panel > .ubermenu-submenu-drop {
		box-shadow: none;
		display: block;
		height: auto;
		left: 0;
		margin-top: 0;
		max-height: none;
		opacity: 1;
		padding: 0;
		position: absolute;
		top: 0;
		transform: translateX(100%);
		visibility: visible;
		width: 100%;
	}
	
	li.active-panel .ubermenu-submenu.slide-away, .ubermenu-transition-shift .ubermenu-item.ubermenu-active.active-panel > .ubermenu-submenu-drop.slide-away {
		transform: translateX(0);
		transition: transform 0.4s;
	}
	
	.ubermenu .ubermenu-submenu-type-stack > .ubermenu-item-normal > .ubermenu-target {
		padding: 15px 20px;
	}
}

/**
 * Header
 */
#header {
	background: #fff;
	height: 164px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
	
	@media (max-width: 930px) {
		height: 74px;
	}
	
	body.admin-bar & {
		top: 32px;
		
		@media (max-width: 782px) {
			top: 46px;
		}
	}
	
	html.menu & {
		top: 0 !important;
	}
	
	.top-bar {
		background: $fourth-bg-color;
		
		@media (max-width: 930px) {
			display: none;
		}
		
		> .container {
			color: #fff;
			font-size: 0.875em;
			margin: 0 auto;
			max-width: 1200px;
			padding: 0.5rem 20px;
			position: relative;
			text-align: right;
			
			> .menu {
				display: inline-block;
				
				> li {
					display: inline-block;
					
					&:not(:first-child) {
						margin-left: 2em;
					}
					
					> .sub-menu {
						background: $fourth-bg-color;
						border-radius: 0.25em;
						box-shadow: 0 1px 2px 0 rgba($drop-shadow-bg-color, 0.2);
						display: none;
						left: -1em;
						padding: 1em;
						position: absolute;
						text-align: left;
						top: 100%;
						width: 150px;
						z-index: 1000;
						
						> li:not(:first-child) {
							border-top: 1px solid #86c0df;
							margin-top: 0.25em;
							padding-top: 0.25em;
						}
						
						.sub-menu {
							display: none !important;
						}
					}
					
					&.menu-item-has-children {
						position: relative;
						
						&:hover > .sub-menu {
							display: block;
						}
					}
					
					&.menu-item-language {
						left: 20px;
						margin-left: 0;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						z-index: 2;
						
						&::before {
							content: '\f0ac';
							display: inline-block;
							font-family: 'FontAwesome';
							margin-right: 0.5em;
						}
						
						a {
							font-weight: 700;
						}
					}
				}
				
				li {
					list-style-type: none;
				}
				
				a {
					font-weight: 400;
					
					&:hover {
						text-decoration: underline;
					}
				}
			}
			
			> form {
				display: inline-block;
				margin: 0 0 0 2em;
				
				> .search-field {
					background-image: url('../images/search.png');
					background-position: right 1em center;
					background-repeat: no-repeat;
					background-size: 16px 16px;
					padding-right: 3em;
					width: 200px;
				}
			}
		}
	}
	
	> .container {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 1200px;
		padding: 1em 20px;
		
		@media (max-width: 930px) {
			justify-content: center;
			padding: 10px 20px;
		}
		
		> * {
			display: inline-block;
		}
		
		> a > img {
			max-width: 130px;
			
			@media (max-width: 930px) {
				max-width: 80px;
			}
		}
		
		> ul {
			list-style: none;
			
			> li {
				display: inline-block;
				
				&:not(:last-child) {
					margin-right: 2em;
				}
				
				> a {
					font-weight: 400;
					transition: color 0.4s;
					
					&:hover {
						color: $link-color;
					}
				}
			}
		}
	}
	
	.ubermenu-item-level-0 {
		> a {
			font-weight: 400;
			outline: none;
			transition: color 0.4s;
			
			@media (max-width: 1100px) {
				padding: 15px 10px;
			}
			
			&::after {
				border-color: transparent transparent #8dc8e8 transparent;
				border-style: solid;
				border-width: 0 11px 14px 11px;
				bottom: -25px;
				content: '';
				display: block;
				height: 0;
				left: 50%;
				margin-left: -11px;
				opacity: 0;
				position: absolute;
				transition: bottom 0.3s ease-in, opacity 0.3s ease-in;
				width: 0;
			}
		}
		
		&.ubermenu-active > a::after {
			bottom: 0;
			opacity: 1;
		}
		
		&:hover > a {
			color: $link-color;
		}
		
		> .ubermenu-submenu {
			background: $tertiary-bg-color;
			border-top: 5px solid #8dc8e8;
			
			li {
				> a {
					padding: 0.5em 1em 0;
					transition: color 0.4s, text-decoration 0.4s;
				}
				
				&:hover > a {
					color: $link-color;
					text-decoration: underline;
				}
			}
		}
	}
	
	.ubermenu-item-level-2 > a {
		color: $link-color;
	}
	
	.ubermenu .ubermenu-submenu .ubermenu-submenu-type-stack {
		padding-top: 0;
		
		a {
			font-size: 0.875em;
			font-weight: 400;
			line-height: 1.5em;
		}
	}
	
	.ubermenu .ubermenu-divider {
		border-bottom: 1px dashed #ddd;
		padding: 0;
	}
	
	.ubermenu-has-submenu-stack {
		> a {
			text-decoration: none !important;
			
			> span::after {
				content: '\f107';
				display: inline-block;
				font-family: 'FontAwesome';
				margin-left: 0.5em;
				position: absolute;
				text-decoration: none !important;
				transition: transform 0.4s;
			}
			
			&:not(.dd-active) > span::after {
				transform: rotate(180deg);
			}
		}
	}
	
	.ubermenu-bound .ubermenu-submenu-type-mega {
		min-width: 0;
	}
	
	@media (max-width: 930px) {
		.ubermenu {
			display: none !important;
		}
	}
}

#responsive-menu-icon {
	cursor: pointer;
	display: none !important;
	height: 29px;
	left: 20px;
	line-height: 24px;
	margin-top: -15.5px;
	position: absolute;
	top: 50%;
	width: 35px;
	
	@media (max-width: 930px) {
		display: block !important;
	}
	
	&.close .lines-button .lines {
		background: transparent;
		transition: background 0.4s;
		
		&::before, &::after {
			transition: background-color 0.4s, top 0.4s ease, transform 0.4s 0.5s ease;
			top: 0;
			width: 35px;
		}
		
		&::before {
			transform: rotate3d(0, 0, 1, 45deg);
		}
		
		&::after {
			transform: rotate3d(0, 0, 1, -45deg);
		}
	}
}

.lines-button {
	background: none;
	border: none;
	cursor: pointer;
	display: inline-block;
	outline: none;
	padding: 0;
	user-select: none;
	
	&:active {
		transition: 0;
	}
	
	&:hover {
		background: none !important;
	}
	
	.lines {
		transition: background 0.4s;
		
		&::before, &::after {
			transform-origin: 50% 50%;
			transition: background-color 0.4s, top 0.4s 0.6s ease, transform 0.4s ease;
		}
	}
}

.lines {
	background: $fourth-bg-color;
	border-radius: 4px;
	display: inline-block;
	height: 5px;
	position: relative;
	transition: 0.4s;
	width: 35px;
	
	&::before, &::after {
		background: $fourth-bg-color;
		border-radius: 4px;
		content: '';
		display: inline-block;
		height: 5px;
		left: 0;
		position: absolute;
		transform-origin: 1px center;
		width: 35px;
	}
	
	&::before {
		top: 10px;
	}
	
	&::after {
		top: -10px;
	}
}

.icon-heart::after {
	background-image: url('../images/heart.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 15px 13px;
	content: '';
	display: inline-block;
	height: 13px;
	margin-left: 0.5em;
	vertical-align: middle;
	width: 15px;
}

.icon-star::after {
	background-image: url('../images/star.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 14px 14px;
	content: '';
	display: inline-block;
	height: 14px;
	margin-left: 0.5em;
	vertical-align: middle;
	width: 14px;
}

.breadcrumbs {
	background: #fff;
	
	body.logged-in & {
		border-top: 1px dashed #ddd;
	}
	
	> .container {
		font-size: 0.8125em;
		letter-spacing: normal;
		line-height: 1.5em;
		margin: 0 auto;
		max-width: 1200px;
		padding: 0.5em 20px;
		
		span {
			margin: 0 0.5em;
			
			&:first-child {
				margin-left: 0;
			}
			
			&:last-child {
				margin-right: 0;
			}
		}
		
		a {
			color: $link-color;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.skid.subscribe + & {
		padding-top: 0.5em;
	}
}

#outer-content >, #footer {
	.subscribe {
		background: $fourth-bg-color;
		
		@media (max-width: 1000px) {
			display: none;
		}
		
		> .container {
			margin: 0 auto;
			max-width: 1200px;
		}
	}
}

/**
 * 404 / HTTP Error
 */
.http-error {
	background: rgba(255, 255, 255, 0.75);
	color: $link-color;
	padding: 2em;
	text-align: center;
	
	> .container {
		margin: 0 auto;
		max-width: 500px;
		
		> h1 {
			color: $link-color;
			font-size: 6em;
			
			@media (max-width: 425px) {
				font-size: 4em;
				margin-bottom: 1rem;
			}
			
			> img {
				display: inline-block;
				margin: -0.3em 0.1em 0;
				max-width: 100px;
				vertical-align: middle;
				
				@media (max-width: 425px) {
					max-width: 67px;
				}
			}
		}
		
		> h2 {
			color: $link-color;
			margin-bottom: 1rem;
		}
		
		> h3 {
			color: $link-color;
			margin-bottom: 1rem;
		}
	}
}

/**
 * Archive | Apps & Books
 */
body.post-type-archive-apps-books h1 + .flexible-content {
	border-bottom: 1px dashed #ddd;
	margin: 1em 0;
	padding-bottom: 1em;
}

/**
 * Archive | Competitions
 */
.competitions-widgets {
	background: $tertiary-bg-color;
	border-radius: 0.25em;
	box-shadow: 0 1px 2px 0 rgba($drop-shadow-bg-color, 0.2);
	margin-top: 2em;
	padding: 2em 2em 4em;
	position: relative;
	
	.competition-widget:not(:first-child), .alm-ajax .competition-widget {
		border-top: 1px solid #ddd;
		margin-top: 1em;
		padding-top: 1em;
	}
}

.competition-widget {
	align-items: center;
	display: flex;
	justify-content: space-between;
	
	@media (max-width: 600px) {
		flex-direction: column;
	}
	
	&.expired {
		opacity: 0.7;
	}
	
	> :first-child {
		> a {
			display: block;
			width: 240px;
		}
	}
	
	> :last-child {
		-webkit-flex: 1 1 300px;
		padding-left: 2em;
		
		@media (max-width: 600px) {
			margin-top: 1em;
			padding-left: 0;
		}
		
		> a {
			font-weight: 400;
		}
		
		span {
			color: $link-color;
			font-size: 0.813em;
			font-weight: 700;
			letter-spacing: 0.06em;
			line-height: 1.5em;
			text-transform: uppercase;
			
			+ span {
				color: #ff4d4d;
				margin-left: 0.25em;
			}
		}
		
		h2 {
			font-size: 1.375em;
			font-weight: 400;
			line-height: 1.5em;
		}
		
		.excerpt {
			margin-top: 1em;
		}
	}
	
	.save {
		margin-top: 1em;
		text-align: right;
		
		@media (max-width: 600px) {
			text-align: center;
		}
		
		> a {
			color: #8dc8e8;
			font-size: 0.875em;
			line-height: 1em;
			
			&::before {
				background-image: url('../images/blue-heart.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 19px 17px;
				content: '';
				display: inline-block;
				height: 17px;
				margin: -4px 0.5em 0 0;
				vertical-align: middle;
				width: 19px;
			}
		}
	}
}

/**
 * Archive | Recipes
 */
.recipe-categories-search {
	margin-top: 2em;
	table-layout: fixed;
	
	.cell {
		vertical-align: top;
		
		@media (max-width: 767px) {
			display: block;
		}
		
		&:last-child:not(:only-child) {
			padding-left: 2em;
			
			@media (max-width: 767px) {
				margin-top: 1em;
				padding-left: 0;
			}
		}
	}
	
	.search-form {
		margin: 0.5em 0;
		
		.search-field {
			width: 60%;
			
			+ input[type='submit'] {
				border: 1px solid $link-color;
				margin-left: 2%;
			}
		}
		
		+ a {
			color: $link-color;
			font-weight: 400;
			
			&:hover {
				text-decoration: underline;
			}
			
			> i {
				margin-left: 0.25em;
			}
		}
	}
	
	~ .owl-carousel {
		margin-top: 2em;
		max-width: calc(792px + 2em);
	}
}

.wysiwyg-content .search-form {
	margin: 0.5em 0;
	
	.search-field {
		width: 60%;
		
		+ input[type='submit'] {
			border: 1px solid $link-color;
			margin-left: 2%;
		}
	}
	
	+ a {
		color: $link-color;
		font-weight: 400;
		
		&:hover {
			text-decoration: underline;
		}
		
		> i {
			margin-left: 0.25em;
		}
	}
}

.ak-post-widgets.owl-carousel {
	max-width: calc(792px + 2em);
	
	.flexible-content > & {
		align-items: initial !important;
		display: block !important;
		flex-wrap: nowrap !important;
		margin-top: 1em;
	}
}

.recipe-categories {
	background: $tertiary-bg-color;
	box-shadow: 0 1px 2px 0 rgba($drop-shadow-bg-color, 0.2);
	border-radius: 0.25em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1em 1em 0;
	width: 100%;
	
	@media (max-width: 650px) {
		justify-content: space-around;
	}
	
	&:not(:first-child) {
		margin-top: 1em;
	}
	
	&::after {
		content: '';
		display: inline-block;
		max-width: 200px;
		width: 47%;
	}
	
	> a {
		display: inline-block;
		flex: 1 1 200px;
		margin-bottom: 1em;
		max-width: 200px;
		width: 47%;
		
		@media (min-width: 651px) and (max-width: 767px) {
			width: 24%;
		}
		
		@media (max-width: 400px) {
			width: 100%;
		}
		
		> h4 {
			text-align: center;
			
			@media (max-width: 768px) {
				font-size: 1em;
			}
			
			> span {
				display: block;
				height: 1.5em;
				overflow: hidden;
			}
		}
	}
}

span + .recipe-categories {
	margin-top: 0.5em;
}

.ak-post-widgets.owl-carousel .owl-item {
	@media (min-width: 768px) {
		transition: opacity 0.4s, transform 0.4s;
		
		&:first-child, &:not(.active), &:not(.active) + .active, &.active + .active + .active {
			opacity: 0.5;
			transform: scale(0.9);
		}
	}
	
	.item {
		text-align: center;
	}
	
	.post-widget {
		margin: 0;
	}
}

.recipe-filter:not(a) {
	background: $tertiary-bg-color;
	box-shadow: 0 1px 2px 0 rgba($drop-shadow-bg-color, 0.2);
	text-align: center;
	
	> img {
		width: 100%;
	}
	
	> h2 {
		background: $fourth-bg-color;
		color: $light-font-color;
		font-size: 1.25em;
		line-height: 1.5em;
		padding: 0.5em 1em;
		text-align: center;
	}
	
	.accordion {
		padding-top: 0;
		text-align: left;
		
		> .accordion-container {
			padding: 0;
			
			> div {
				> a {
					background: #fafafa;
					border-bottom: 1px solid rgba($drop-shadow-bg-color, 0.2);
					border-radius: 0;
					color: $font-color;
					
					&::before {
						display: none;
					}
					
					&::after {
						color: $link-color;
					}
				}
				
				> div {
					padding: 1em 1.5em;
					text-align: center;
					
					> button {
						margin: 1em 0.5em;
						outline: none;
						transition: background 0.4s;
						
						&:not(.selected) {
							background: #aaa;
							
							&:hover {
								background: #91bad0;
							}
						}
						
						+ input {
							display: none;
						}
					}
				}
			}
		}
	}
	
	input[type='submit'] {
		margin: 1em;
	}
	
	> .results {
		background: $tertiary-bg-color;
		text-align: center;
		
		ul.alm-listing {
			align-items: inherit !important;
			display: block !important;
			flex-wrap: nowrap !important;
		}
	}
}

h1 + .recipe-filter {
	margin-top: 1em;
}

.widget > .recipe-filter:not(a) .accordion > .accordion-container > div > div {
	padding: 0 0 0.5em;
	
	> button {
		margin: 0.5em 0.25em 0;
	}
}

/**
 * Archive | Videos
 */
body.post-type-archive-videos h1 + .flexible-content {
	border-bottom: 1px dashed #ddd;
	margin: 1em 0;
	padding-bottom: 1em;
}
body.post-type-archive-videos h1 + .large-post-widget {
	margin-top: 1em;
}

body.post-type-archive-videos .category-page > .container > .table > .cell:first-child .post-widget .post-widget-header > span {
	display: none;
}

.post-widget[data-post-type='videos'] > .has-post-thumbnail > .post-widget-thumbnail {
	position: relative;
	
	&::before {
		background-image: url('../images/play.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 45px 45px;
		content: '';
		display: block;
		height: 45px;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 45px;
	}
}

.ak-post-widgets .post-widget.video-widget {
	flex: 0 0 49%;
	margin: 1em 0 0;
	max-width: 415px;
	
	@media (max-width: 425px) {
		flex: none;
		width: 100%;
	}
}

body.post-type-archive-videos .cell:first-child .ak-post-widgets .post-widget[data-post-type='videos'] h4 {
	overflow: hidden;
}

/**
 * Category
 */
.category-page {
	padding: 20px;
	
	> .container {
		margin: 0 auto;
		max-width: 1160px;
		
		> .table {
			table-layout: fixed;
			
			> .cell {
				vertical-align: top;
				
				&:last-child:not(:only-child) {
					padding-left: 20px;
					width: 320px;
					
					@media (max-width: 900px) {
						display: none;
					}
				}
				
				> h1 + .flexible-content {
					margin-top: 1.5em;
				}
				
				> h2 {
					border-bottom: 1px dashed $mid-font-color;
					margin-top: 1em;
					padding-bottom: 0.25em;
				}
				
				.ak-post-widgets + h2 {
					margin-top: 1.5em;
				}
			}
		}
	}
}

body.tax-recipe-filter, body.tax-allergen {
	.category-page > .container > .table > .cell > h2 + .ak-post-widgets {
		margin-top: 1em;
	}
}

.ak-post-widgets, .wysiwyg-content > .ajax-load-more-wrap {
	position: relative;
	
	&:not(.shortcode-induced) {
		padding-bottom: 4em;
	}
	
	@media (max-width: 591px) {
		text-align: center;
	}
	
	.post-widget {
		display: inline-block;
		flex: 1 1 260px;
		margin: 1em 0.5em 0;
		max-width: 260px;
		vertical-align: top;
		width: 100%;
	}
}

.ak-post-widgets {
	:not(.recipe-filter) > &, .alm-listing.alm-preloaded, .alm-ajax > .alm-reveal, .alm-seo {
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
		@media (max-width: 591px) {
			align-items: center;
			justify-content: space-around;
		}
		
		> .post-widget {
			display: inline-block;
		}
	}
}

.flexible-content {
	.alm-listing.alm-preloaded, .alm-ajax > .alm-reveal, .alm-seo {
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
		@media (max-width: 591px) {
			align-items: center;
			justify-content: space-around;
		}
		
		> .post-widget {
			display: inline-block;
		}
	}
}

.alm-btn-wrap {
	bottom: 0;
	left: 0;
	padding-bottom: 10px;
	position: absolute;
	text-align: center;
	width: 100%;
}

button.alm-load-more-btn {
	padding: 0.5em 1.5em !important;
	
	&::after {
		content: '\f021';
		display: inline-block;
		font-family: 'FontAwesome';
		margin-left: 0.5em;
	}
	
	&.loading {
		&::before {
			display: none;
		}
		
		&::after {
			animation: fa-spin 1s infinite linear;
		}
	}
	
	&.done {
		display: none;
	}
}

body.category .recipe-categories {
	margin-top: 1em;
	
	&::after {
		max-width: 250px;
	}
	
	> a {
		flex: 1 1 250px;
		max-width: 250px;
		overflow: hidden;
	}
}

/**
 * Front Page
 */
@media (max-width: 1200px) {
	body.home .generic-page > .container > .table {
		margin: 0 auto;
		max-width: 860px;
		
		> .cell {
			display: block;
			
			&:last-child:not(:only-child) {
				margin: 1em auto 0;
			}
		}
	}
}

.front-page-board {
	display: flex;
	flex-wrap: wrap;
	
	@media (max-width: 900px) {
		align-items: center;
		flex-direction: column;
		margin: 0 auto;
		max-width: 420px;
	}
	
	> .fp-col {
		width: 50%;
		
		@media (max-width: 900px) {
			text-align: center;
			width: 100%;
		}
		
		> .fp-small-cards {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			
			> .post-widget {
				display: inline-block;
				flex: 1 1 200px;
				margin: 0 0 1em;
				max-width: 200px;
				vertical-align: top;
				width: 100%;
				
				@media (max-width: 460px) {
					margin: 0 auto 1em;
					max-width: none;
				}
			}
		}
		
		> .owl-carousel {
			margin: 0 0 1em;
			max-width: 420px;
			padding: 0;
			
			@media (max-width: 900px) {
				margin: 0 auto 1em;
			}
			
			.owl-dots {
				display: none !important;
			}
			
			.owl-nav {
				margin-top: 0;
			}
		}
	}
	
	> .large-post-widget {
		display: inline-block;
		width: 100%;
		
		&:not(:first-child) {
			margin-top: 1em;
		}
	}
	
	.post-widget h4 {
		overflow: hidden;
	}
	
	+ .flexible-content {
		margin-top: 2em;
	}
}

body.home .post-widget {
	h4 {
		overflow: hidden;
	}
	
	.bottom-cat {
		display: none !important;
	}
}

/**
 * Page | Form
 */
.form-page {
	padding: 20px;
	
	> .container {
		margin: 0 auto;
		max-width: 400px;
		
		> h1 {
			text-align: center;
			
			+ .wysiwyg-content {
				margin-top: 1em;
			}
		}
		
		> .wysiwyg-content {
			background: $tertiary-bg-color;
			border-radius: 0.25em;
			box-shadow: 0 1px 2px 0 rgba($drop-shadow-bg-color, 0.2);
			padding: 1em;
			
			.gform_wrapper {
				.top_label .gfield_label {
					font-size: 0.75em;
					line-height: 1.5em;
				}
				
				input[type='email'], input[type='password'], input[type='search'], input[type='text'] {
					border: 1px solid #ddd;
					font-size: 0.875em !important;
					line-height: 1em;
				}
				
				.ginput_complex .ginput_full, .ginput_complex .ginput_left, .ginput_complex .ginput_right {
					display: block;
					min-height: 0;
					padding: 0;
					width: 100%;
					
					&:not(:first-child) {
						margin-top: 0.5em;
					}
				}
				
				.top_label {
					.ginput_complex.ginput_container.ginput_container_email, input.large.datepicker, input.medium.datepicker, input.small.datepicker {
						width: 100%;
					}
					
					div.ginput_container {
						margin-top: 0;
					}
				}
				
				.field_sublabel_below .ginput_complex.ginput_container label {
					display: none;
				}
				
				.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
					width: 100%;
				}
				
				.bootstrap-namespaced .btn-group > .btn:first-child {
					text-transform: none;
				}
				
				.bootstrap-select.btn-group .dropdown-menu li {
					padding: 0;
				}
				
				.gsection {
					border-bottom: 1px solid #ddd;
					margin-right: 0 !important;
				}
				
				.ginput_complex.ginput_container_address span.ginput_right + span.ginput_left {
					padding-right: 0 !important;
				}
			}
		}
	}
	
	.gform_wrapper .gform_footer {
		margin: 0;
		padding: 1em 1em 0;
		text-align: center;
	}
	
	.ginput_recaptcha {
		transform: scale(0.82);
		transform-origin: left;
	}
	
	.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
		line-height: 1em;
		min-height: 0;
	}
	
	.gform_wrapper .ginput_container span {
		margin-bottom: 0;
	}
	
	@media (max-width: 641px) {
		.wysiwyg-content .gform_wrapper ul > li {
			padding-left: 0;
		}
	}
}

/**
 * Page | Register
 */
body.page-template {
	&.page-template-transparent-background .wysiwyg-content[style] {
		margin: 0;
		
		&:not(:first-child) {
			margin-top: 1em;
		}
		
		@media (max-width: 640px) {
			padding: 1em;
		}
	}
	
	input[type='email'], input[type='password'], input[type='search'], input[type='text'] {
		border-color: #ddd;
	}
	
	.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
		padding: 0.5em 1em;
	}
	
	#field_2_11, #field_3_11 {
		display: none;
	}
	
	.gform_wrapper .top_label li.gfield.gf_right_half.gf_repeater_child_field {
		&, & + .gfield {
			display: none;
			float: right;
			
			@media (max-width: 640px) {
				float: none;
			}
		}
	}
	
	.gform_wrapper .ginput_complex.ginput_container.ginput_container_email .ginput_left {
		padding-right: 24px;
		
		@media (max-width: 640px) {
			padding-right: 0;
		}
	}
	
	.gform_wrapper .ginput_complex.ginput_container.ginput_container_email .ginput_right, .gform_wrapper .ginput_complex .ginput_right {
		padding-left: 10px;
		
		@media (max-width: 640px) {
			padding-left: 0;
		}
	}
	
	.gform_wrapper .ginput_complex .ginput_left {
		padding-right: 16px;
		
		@media (max-width: 640px) {
			padding-right: 0;
		}
	}
	
	.gform_wrapper .ginput_complex .ginput_right {
		padding-left: 16px;
		
		@media (max-width: 640px) {
			padding-left: 0;
		}
	}
	
	.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
		display: none;
	}
	
	&.page-slug-reset-password {
		.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
			display: block;
		}
	}
	
	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn), .top_label li:not(.gf_left_half):not(.gf_right_half) .ginput_container_date {
		padding-right: 16px;
		width: 50%;
		
		@media (max-width: 640px) {
			padding-right: 0;
			width: 100%;
		}
	}
	
	.ginput_container_address > span:not(:first-child) {
		margin-top: 1em;
		
		&.ginput_full {
			display: block;
		}
	}
	
	.gform_wrapper .ginput_complex .ginput_full, .gform_wrapper .ginput_complex .ginput_left, .gform_wrapper .ginput_complex .ginput_right {
		min-height: 0;
	}
	
	.top_label .ginput_container_date > input.datepicker.medium {
		width: 100%;
	}
	
	.ginput_container_radio button[type='button'] {
		margin-right: 0.5em;
		outline: none;
		transition: background 0.4s;
		
		&:not(.selected) {
			background-color: #aaa;
			
			&:hover {
				background-color: #91bad0;
			}
		}
	}
	
	.ginput_recaptcha {
		transform: scale(0.82);
		transform-origin: left;
	}
	
	.wysiwyg-content ul:not(.alm-listing) > li.gfield {
		padding-left: 0;
	}
}

/**
 * Page | Saved Content
 */
.welcome-banner {
	background-color: $fourth-bg-color;
	background-image: url('../images/veggie-bunting.png');
	background-position: right top;
	background-repeat: no-repeat;
	background-size: 600px 86px;
	color: $light-font-color;
	margin-bottom: 2em;
	padding: 1.5em;
	
	@media (max-width: 767px) {
		background-position: center top;
	}
	
	> .container {
		align-items: center;
		display: flex;
		justify-content: space-between;
		
		@media (max-width: 500px) {
			justify-content: center;
		}
		
		> div {			
			> div {
				align-items: center;
				display: flex;
				justify-content: space-between;
				margin-top: 1em;
				
				@media (max-width: 767px) {
					display: none;
				}
				
				> div {
					display: inline-block;
					
					&:first-child {
						margin-top: 1em;
						
						> img {
							max-width: 210px;
						}
					}
				}
			}
		}
	}
	
	h1 {
		color: $light-font-color;
		
		@media (max-width: 500px) {
			font-size: 1.5em;
			line-height: 1.5em;
			text-align: center;
		}
		
		> span {
			display: inline-block;
			vertical-align: middle;
			
			&:first-child {
				background-image: url('../images/welcome.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 215px 50px;
				color: $fourth-bg-color;
				height: 50px;
				line-height: 50px;
				text-align: center;
				width: 215px;
			}
			
			@media (max-width: 500px) {
				display: block;
			}
		}
	}
	
	.wysiwyg-content {
		font-family: $heading-font;
		margin-left: 1em;
		max-width: 550px;
		padding: 0;
	}
	
	> img {
		max-width: 500px;
		width: 100%;
	}
}

body.page-template-saved-content .search-title .bootstrap-select {
	float: none !important;
	width: 100% !important;
}

body.page-template-saved-content .post-widget {
	overflow: visible;
	position: relative;
	
	> .mfp-close {
		box-shadow: 0 1px 2px 0 rgba($drop-shadow-bg-color, 0.2);
		color: #333;
		right: -20px;
		top: -20px;
		transition: box-shadow 0.4s, color 0.4s;
		z-index: 1;
		
		&:hover {
			box-shadow: 0 1px 12px 0 rgba($drop-shadow-bg-color, 0.2);
			color: #f00;
		}
	}
	
	.bottom-cat:nth-last-child(2) {
		border-bottom: none;
	}
	
	.excerpt-link, .save {
		display: none;
	}
}

body:not(.page-template-saved-content) .post-widget > .mfp-close {
	display: none !important;
}

#alter-existing-collection {
	font-size: 0.75em;
	line-height: 1.5em;
	margin-top: 0.5em;
}

/**
 * Page | Transparent Background
 */
body {
	&.page-template-transparent-background, &.page-template-transparent-background-no-sidebar {
		.generic-page > .container > .table > .cell:first-child {
			background: none;
			border-radius: 0;
			box-shadow: none;
		}
		
		.flexible-content > .owl-carousel:not(.ak-post-widgets) {
			max-width: none;
		}
	}
}

/**
 * Search
 */
.search-title {
	border-bottom: 1px dashed $mid-font-color;
	border-top: 1px dashed $mid-font-color;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0.8125em 0;
	
	@media (max-width: 600px) {
		flex-direction: column;
		text-align: center;
	}
	
	> h1 {
		font-size: 1.625em;
		line-height: 1.5em;
		
		@media (max-width: 600px) {
			margin-bottom: 0.5em;
		}
		
		> span {
			color: $link-color;
		}
	}
}

body {
	.bootstrap-namespaced .btn-group > .btn:first-child, .bootstrap-select.btn-group .dropdown-menu, .bootstrap-select.btn-group .dropdown-menu li a span.text, .bootstrap-namespaced .dropdown-menu > li > a:focus, .bootstrap-namespaced .dropdown-menu > li > a:hover {
		background: $secondary-bg-color;
		color: $light-font-color;
		font-weight: 700;
	}
	
	.bootstrap-select.btn-group .dropdown-toggle .filter-option, .bootstrap-select.btn-group .dropdown-menu {
		text-transform: uppercase;
	}
}

/**
 * Single
 */
.generic-page {
	padding: 20px;
	
	> .container {
		margin: 0 auto;
		max-width: 1160px;
		
		> .table {
			table-layout: fixed;
			
			> .cell {
				vertical-align: top;
				
				&:first-child {
					> .singular-wrapper {
						background: $tertiary-bg-color;
						border-radius: 0.25em;
						box-shadow: 0 1px 2px 0 rgba($drop-shadow-bg-color, 0.2);
					}
					
					body.page-slug-baby &, body.page-slug-family &, body.page-slug-pregnancy &, body.page-slug-toddler & {
						.post-widget .post-widget-header > span {
							display: none;
						}
					}
				}
				
				&:last-child:not(:only-child) {
					padding-left: 20px;
					width: 320px;
					
					@media (max-width: 900px) {
						display: none;
					}
				}
				
				@media (max-width: 900px) {
					display: block;
					
					&:last-child:not(:only-child) {
						display: block;
						margin: 1em auto 0;
						padding: 0;
						width: 280px;
					}
				}
			}
		}
	}
}

body.single-post .page-header.sponsored {
	position: relative;
		
	&::before {
		background-image: url('../images/sponsored-content.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 50px 58px;
		content: '';
		display: block;
		height: 58px;
		position: absolute;
		right: 10px;
		top: 10px;
		width: 50px;
		z-index: 1;
	}
	
	> h1 {
		padding-right: 1.5em;
	}
}

.page-header, .page-footer {
	padding: 2em;
	
	@media (max-width: 500px) {
		padding: 1em;
	}
}

.page-header > img {
	border-radius: 0.25em;
	display: block;
	margin: 2em auto 0;
}

html .save-share {
	align-items: center;
	border-bottom: 1px dashed $mid-font-color;
	border-top: 1px dashed $mid-font-color;
	display: flex;
	justify-content: space-between;
	margin-top: 1.5em;
	padding: 0.5em 0;
	
	@media (max-width: 425px) {
		flex-direction: column;
	}
	
	> div {
		display: inline-block;
		
		&.save > a {
			color: #8dc8e8;
			font-size: 0.875em;
			line-height: 1em;
			
			&::before {
				background-image: url('../images/blue-heart.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 19px 17px;
				content: '';
				display: inline-block;
				height: 17px;
				margin: -4px 0.5em 0 0;
				vertical-align: middle;
				width: 19px;
			}
		}
	
		&.sharedaddy {
			@media (max-width: 425px) {
				margin-top: 0.5em;
			}
			
			h3.sd-title {
				font-family: $body-font;
				font-size: 0.75em;
				line-height: 1em;
				margin: 0 1em 0 0;
				vertical-align: middle;
				
				@media (max-width: 425px) {
					display: none;
				}
				
				&::before {
					display: none;
				}
			}
		}
	}
	
	.sd-content {
		display: inline-block;
		vertical-align: middle;
		
		> ul {
			margin: 0 !important;
		}
	}
	
	.sd-social-icon .sd-content ul li[class*=share-] a.sd-button {
		background: transparent;
		border: 1px solid $link-color;
		color: $link-color !important;
		transition: background 0.4s, color 0.4s;
		
		&:hover {
			background: $link-color;
			color: $light-font-color !important;
			opacity: 1;
		}
		
		&.share-email {
			&::before {
				visibility: hidden;
			}
			
			&::after {
				background-image: url('../images/email.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 20px;
				content: '';
				display: block;
				height: 100%;
				position: absolute;
				top: 0;
				transition: background-image 0.4s;
				width: 20px;
			}
			
			&:hover::after {
				background-image: url('../images/email-white.png');
			}
		}
		
		&.share-print {
			&::before {
				visibility: hidden;
			}
			
			&::after {
				background-image: url('../images/print.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 20px;
				content: '';
				display: block;
				height: 100%;
				position: absolute;
				top: 0;
				transition: background-image 0.4s;
				width: 20px;
			}
			
			&:hover::after {
				background-image: url('../images/print-white.png');
			}
		}
	}
}

body:not(.logged-in):not(.single-post):not(.page) .sd-content ul li.share-print {
	display: none;
}

html .page-footer > .save-share {
	margin-top: 0;
}

.flexible-content {
	.singular-wrapper & > :first-child {
		padding-top: 0;
	}
	
	> :not(.recipe-categories):not(.article-jump):not(.feel-inspired):not(.owl-carousel:not(.ak-post-widgets)) {
		padding-top: 0 !important;
	}
	
	> :not(.overlaying-image):not(.wysiwyg-content[style]) + * h2::before, > :first-child h2:not(:first-child)::before {
		border-top: 1px dashed $mid-font-color;
		content: '';
		display: block;
		margin: 1.5rem 0;
		width: 100%;
	}
	
	> .quote {
		+ :not(:first-child) h2::before, + :first-child h2:not(:first-child)::before {
			margin-top: 0;
		}
	}
	
	> .flexslider {
		border: none;
		margin: 0 auto 2em;
		max-width: 780px;
		
		.slides > li {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 0.25em;
			height: 200px;
		}
		
		.flex-direction-nav {
			.flex-prev, .flex-next {
				background: #9ccbea;
				border-radius: 100%;
				bottom: 0.5em;
				height: 24px;
				left: auto;
				line-height: 24px;
				margin: 0;
				opacity: 1;
				right: 0.5em;
				text-align: center;
				top: auto;
				width: 24px;
				
				&::before {
					color: $light-font-color;
					font-family: 'FontAwesome';
					font-size: 1em;
					left: 2px;
					position: relative;
				}
			}
			
			.flex-prev {
				right: 2.5em;
				
				&::before {
					content: '\f0d9';
					left: -1px;
				}
			}
			
			.flex-next::before {
				content: '\f0da';
			}
		}
	}
	
	> .recipe-categories {
		&::after {
			max-width: 250px;
		}
		
		> a {
			flex: 1 1 250px;
			max-width: 250px;
		}
		
		&[data-num-per-row='4'] > a {
			flex: 1 1 200px;
			max-width: 200px;
		}
	}
	
	> .owl-carousel:not(.ak-post-widgets) {
		background: $tertiary-bg-color;
		border-radius: 0.25em;
		box-shadow: 0 1px 2px 0 rgba($drop-shadow-bg-color, 0.2);
		padding-top: 1em;
		
		&:not(:first-child) {
			margin-top: 1em;
		}
		
		.item h4 {
			font-size: 1em;
			line-height: 1.5em;
			margin-top: 1em;
			overflow: hidden;
			text-align: center;
		}
	}
	
	> .boxes-with-image {
		display: flex;
		
		@media (max-width: 768px) {
			flex-direction: column;
		}
		
		&:not(:first-child) {
			margin-top: -0.5em;
		}
		
		&:not(:last-child) {
			margin-bottom: -0.5em;
			
			@media (max-width: 768px) {
				margin-bottom: 1em;
			}
			
			+ * {
				position: relative;
			}
		}
		
		> .image-wrapper {
			display: flex;
			width: 50%;
			
			@media (max-width: 768px) {
				display: block;
				margin: 0 auto;
				width: auto;
			}
			
			> img {
				align-self: center;
				display: inline-block;
			}
		}
		
		> .boxes, > .recipe-categories {
			align-content: center;
			align-items: center;
			background: transparent;
			box-shadow: none;
			margin-top: 0;
			padding: 0 0 0 0.5em !important;
			width: 50%;
			
			@media (max-width: 768px) {
				margin-top: 1em;
				width: auto;
			}
			
			@media (max-width: 600px) {
				flex-direction: column;
				padding: 0 !important;
			}
			
			> .box, > a {
				flex: 1 1 47%;
				margin: 0;
				max-width: 47%;
				
				@media (max-width: 768px) {
					flex: 1 1 270px;
					max-width: 270px;
					width: 47%;
				}
				
				@media (max-width: 600px) {
					flex: none;
					width: 100%;
					
					&:not(:first-child) {
						margin-top: 1em;
					}
				}
			}
		}
	}
	
	> .feel-inspired:not(:first-child) {
		margin-top: 1em;
	}
}

.wysiwyg-content {
	padding: 2em;
	
	a {
		color: $link-color;
		
		&.button {
			color: $light-font-color;
		}
	}
	
	blockquote {
		background: #f0faff;
		padding: 2em;
	}
	
	blockquote, p, ol, table, ul, .caption-wrapper {
		margin: 1.5em 0 0;
		
		&:first-child {
			margin-top: 0;
		}
	}
	
	h1, h2, h3, h4, h5, h6 {
		&:first-child {
			margin-top: 0;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	hr {
		border: none;
		border-top: 1px dashed $mid-font-color;
	}
	
	ol, ul {
		list-style-position: inside;
		
		> li:not(:first-child) {
			margin-top: 0.5em;
		}
	}
	
	ol {
		list-style: none;
		counter-reset: item;
		
		> li {
			display: block;
			
			&::before {
				color: $link-color;
				content: counters(item, '.') '. \00a0 ';
				counter-increment: item;
				display: inline;
				font-size: 1.375em;
				font-weight: 700;
				line-height: 1em;
			}
		}
	}
	
	table {
		width: 100%;
		
		&.table-style-1, &.table-style-2, &.table-style-3 {
			table-layout: fixed;
			
			td {
				padding: 0.5em 1em;
			}
			
			tr:first-child > td {
				background: $fourth-bg-color;
				color: $light-font-color;
				font-size: 0.875em;
				font-weight: 700;
				line-height: 1.5em;
				padding: 0.5rem 1rem;
				text-transform: uppercase;
				
				&:first-child {
					border-top-left-radius: 0.25rem;
				}
				
				&:last-child {
					border-top-right-radius: 0.25rem;
				}
			}
			
			tr:last-child > td {
				&:first-child {
					border-bottom-left-radius: 0.25rem;
				}
				
				&:last-child {
					border-bottom-right-radius: 0.25rem;
				}
			}
		}
		
		&.table-style-1, &.table-style-3 {
			tr:nth-child(2n+3) > td {
				background: #f0faff;
			}
		}
		
		&.table-style-2, &.table-style-3 {
			td {
				border: 1px solid #ddd;
				
				&:not(:first-child) {
					border-left: none;
				}
			}
			
			tr:not(:last-child) {
				> td {
					border-bottom: none;
				}
			}
		}
		
		&.table-style-3 {
			tr:not(:first-child):not(:last-child) > td {
				border-bottom: none;
				border-top: none;
			}
			
			tr:last-child:not(:first-child) > td {
				border-top: none;
			}
		}
	}
	
	ol:not(.alm-listing) {
		padding-left: 30px;
		
		> li {
			padding-left: 30px;
			position: relative;
			
			&::before {
				display: block;
				left: 0;
				position: absolute;
				top: 0;
			}
		}
	}
	
	ul:not(.alm-listing) {
		list-style: none;
		padding-left: 1em;
		
		> li {
			padding-left: 1em;
			position: relative;
			
			&::before {
				color: $mid-font-color;
				content: '•';
				display: block;
				left: 0;
				position: absolute;
				top: 0;
			}
		}
	}
	
	.caption-wrapper {
		text-align: center;
		
		figure.wp-caption {
			display: inline-block;
			position: relative;
			width: auto !important;
			
			> figcaption.wp-caption-text {
				background: rgba($drop-shadow-bg-color, 0.6);
				bottom: 0;
				color: $light-font-color;
				font-style: italic;
				left: 0;
				padding: 0.5em 1em;
				position: absolute;
				text-align: right;
				width: 100%;
			}
		}
	}
	
	.dropcap {
		float: left;
		font-size: 3em;
		line-height: 1em;
		margin: 0.05em 0.1em 0 0;
		
		&.dropcap-dark, &.dropcap-light {
			background: $fourth-bg-color;
			border-radius: 100%;
			color: #fff;
			text-align: center;
			width: 1em;
		}
		
		&.dropcap-light {
			background: #f0faff;
			color: $fourth-bg-color;
		}
	}
	
	.ak-post-widgets.shortcode-induced {
		&:not(:first-child) { 
			margin-top: 1em;
		}
		
		&[data-num-per-row='1'] > .post-widget {
			flex: none;
			margin: 1em 0 0;
			max-width: none;
			width: 100%;
		}
		
		&[data-num-per-row='2'] > .post-widget {
			flex: 1 1 425px;
			max-width: 425px;
			width: 49%;
			
			@media (max-width: 425px) {
				flex: none;
				max-width: none;
				width: 100%;
			}
		}
		
		&[data-num-per-row='4'] > .post-widget {
			flex: 1 1 210px;
			max-width: 210px;
			
			@media (max-width: 600px) {
				display: block;
				flex: 1 1 260px;
				margin: 1em 0 0;
				max-width: 260px;
			}
		}
	}
	
	&[style] .ak-post-widgets.shortcode-induced {
		&[data-num-per-row='3'] > .post-widget {
			flex: 1 1 240px;
			max-width: 240px;
			
			@media (max-width: 600px) {
				display: block;
				flex: 1 1 260px;
				margin: 1em 0 0;
				max-width: 260px;
			}
		}
		
		&[data-num-per-row='4'] > .post-widget {
			flex: 1 1 195px;
			max-width: 195px;
			
			@media (max-width: 600px) {
				display: block;
				flex: 1 1 260px;
				margin: 1em 0 0;
				max-width: 260px;
			}
		}
	}
}

body.page-template-transparent-background, body.page-template-transparent-background-no-sidebar {
	.wysiwyg-content:not([style]) {
		padding: 0;
		
		&:not(:first-child) {
			padding-top: 2em;
		}
	}
	
	.wysiwyg-content[style] {
		border-radius: 0.25em;
		box-shadow: 0 1px 2px 0 rgba($drop-shadow-bg-color, 0.2);
		margin: 0 2em;
		
		@media (max-width: 425px) {
			margin: 0;
		}
		
		+ .wysiwyg-content[style] {
			margin-top: 1em;
		}
	}
}

.overlaying-image {
	@media (max-width: 500px) {
		display: none;
	}
	
	&:not(:first-child) {
		margin-top: 2em;
	}
	
	+ .wysiwyg-content {
		background: $tertiary-bg-color;
		border-radius: 0.25em;
		box-shadow: 0 1px 2px 0 rgba($drop-shadow-bg-color, 0.2);
		margin: -2em 2em 0;
		padding: 2em !important;
		position: relative;
		
		@media (max-width: 500px) {
			margin: 0;
			
			&:nth-child(n+3) {
				margin-top: 1em;
			}
		}
	}
}

.flexible-content > .overlaying-image + .wysiwyg-content:not(.recipe-categories):not(.article-jump) {
	padding: 2em !important;
}

.accordion {
	padding-top: 2em;
	
	> h2 {
		margin: 0 2rem;
	}
	
	.accordion-container {
		padding: 1.5em 2em;
		
		> div {
			&:not(:first-child) {
				border-top: 1px solid #ddd;
			}
			
			> a {
				background: $fourth-bg-color;
				color: $light-font-color;
				cursor: pointer;
				display: block;
				font-size: 0.813em;
				font-weight: 700;
				letter-spacing: 0.02em;
				line-height: 1.625em;
				padding: 1em 3.4em 1em 1em;
				position: relative;
				text-transform: uppercase;
				
				&::after {
					content: '\f067';
					display: block;
					font-family: 'FontAwesome';
					font-size: 1rem;
					line-height: 1rem;
					margin-top: -0.5rem;
					position: absolute;
					top: 50%;
					transition: transform 0.4s;
					right: 1rem;
				}
				
				&.open::after {
					transform: rotate(405deg);
				}
			}
			
			&:first-child > a {
				border-top-left-radius: 0.25rem;
				border-top-right-radius: 0.25rem;
			}
			
			&:last-child > a {
				border-bottom-left-radius: 0.25rem;
				border-bottom-right-radius: 0.25rem;
				
				&.open {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
			
			> div {
				background: #fcfcfc;
				display: none;
			}
		}
	}
	
	&.accordion-style-1 {
		padding-top: 0;
		
		.accordion-container {
			padding: 0 2em;
		}
	}
	
	&.accordion-style-2 .accordion-container {
		background: $fourth-bg-color;
		margin-top: 1.5em;
		padding: 2em;
		
		> div {
			&:not(:first-child) {
				border-top-color: $fourth-bg-color;
			}
			
			> a {
				background: #f4fafd;
				color: $fourth-bg-color;
			}
		}
	}
	
	&.accordion-style-3 .accordion-container {
		background: $fourth-bg-color;
		margin-top: 1.5em;
		padding: 2em;
		
		> div {
			&:not(:first-child) {
				&, & > a {
					border-top: none;
				}
			}
			
			> a {
				border: 1px solid $light-font-color;
			}
		}
	}
}

.galleries {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
	max-width: calc(780px + 4em);
	padding: 2em 2em 1em;
	
	.flexible-content > &:not(:first-child) {
		padding-top: 0;
	}
	
	> .gallery {
		border-radius: 0.25em;
		box-shadow: 0 1px 2px 0 rgba($drop-shadow-bg-color, 0.2);
		display: inline-block;
		margin-bottom: 1em;
		overflow: hidden;
		
		> div {
			color: $link-color;
			padding: 0.5em 3em 0.5em 1em;
			position: relative;
			
			> a {
				&.open-gallery {
					display: inline-block;
					font-family: $heading-font;
					font-weight: 700;
					letter-spacing: 0.06em;
					width: calc(100% - 3.3em);
					word-break: break-all;
				}
				
				&.save-this-post {
					position: absolute;
					right: 1em;
					
					&::before {
						background-image: url('../images/blue-heart.png');
						background-position: center center;
						background-repeat: no-repeat;
						background-size: 19px 17px;
						content: '';
						display: inline-block;
						height: 17px;
						margin: -4px 0.5em 0 0;
						vertical-align: middle;
						width: 19px;
					}
				}
			}
		}
	}
}

a.open-gallery {
	cursor: pointer;
	cursor: zoom-in;
}

body.admin-bar .pswp__top-bar {
	top: 32px;
}

.gallery-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
	max-width: calc(780px + 4em);
	padding: 2em 2em 1em;
	
	> a, > div {
		border-radius: 0.25em;
		display: inline-block;
		margin-bottom: 1em;
		max-width: 49%;
		overflow: hidden;
		position: relative;
		
		@media (max-width: 600px) {
			max-width: none;
		}
		
		span {
			color: $light-font-color;
			font-weight: 400;
			left: 1em;
			line-height: 1em;
			position: absolute;
			top: 1em;
		}
	}
	
	> a::before {
		border: 1px solid $light-font-color;
		border-radius: 0.25em;
		content: '';
		display: block;
		height: calc(100% - 1em);
		left: 0.5em;
		position: absolute;
		top: 0.5em;
		width: calc(100% - 1em);
	}
}

.list-items-title {
	background: $fourth-bg-color;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	color: $light-font-color;
	font-size: 0.875em;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 1.5em;
	margin: 2rem 2rem 0;
	padding: 1em 1.5em !important;
	text-transform: uppercase;
}

.flexible-content > .list-items-title:not(:first-child) {
	margin-top: 0;
}

.list-items {
	> ol {
		list-style-position: inside;
	}
	
	> ol, > ul {
		border: 1px solid #ddd;
		border-radius: 0.25em;
		padding: 1em 2em;
		
		@media (max-width: 767px) {
			column-count: 1 !important;
		}
		
		&.smiley > li {
			padding-left: 1.25em;
			
			&::before {
				background-image: url('../images/smiley.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 13px 12px;
				content: '';
				height: 26px;
				width: 13px;
			}
		}
	}
	
	> .column-count-2 {
		column-count: 2;
	}
	
	> .column-count-3 {
		column-count: 3;
	}
}

.list-items-title + .list-items {
	> ol, > ul {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

.quote {
	padding: 2em;
	text-align: center;
	
	&::before {
		border-top: 1px dashed $mid-font-color;
		content: '';
		display: block;
		margin: 1.5rem 0;
		width: 100%;
	}
	
	> .content {
		padding: 0 2em;
		position: relative;
		
		&::before {
			content: '\201c';
			display: block;
			font-size: 4em;
			left: 0;
			position: absolute;
			top: 50%;
		}
		
		&::after {
			content: '\201d';
			display: block;
			font-size: 4em;
			position: absolute;
			right: 0;
			top: 50%;
		}
	}
	
	&.small > .content {
		font-size: 0.875em;
		letter-spacing: 0.01em;
		line-height: 1.5em;
	}
	
	&.medium > .content {
		font-size: 1.125em;
		letter-spacing: 0.01em;
		line-height: 1.5em;
		
		@media (max-width: 425px) {
			font-size: 0.875em;
			letter-spacing: 0.01em;
			line-height: 1.5em;
		}
	}
	
	&.large > .content {
		font-size: 1.375em;
		letter-spacing: 0.01em;
		line-height: 1.5em;
		
		@media (max-width: 768px) {
			font-size: 1.125em;
			letter-spacing: 0.01em;
			line-height: 1.5em;
		}
		
		@media (max-width: 425px) {
			font-size: 0.875em;
			letter-spacing: 0.01em;
			line-height: 1.5em;
		}
	}
}

.quote:not(:first-child)::before {
	margin-top: 0;
}

.owl-carousel {
	margin: 0 auto;
	max-width: calc(780px + 2em);
	padding: 0 2em 1.5em;
	
	.item > img {
		border-radius: 0.25em;
	}
	
	.owl-nav {
		.owl-prev, .owl-next {
			background: transparent;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 100%;
			border-radius: 100%;
			bottom: 0.5em;
			height: 24px;
			left: auto;
			line-height: 24px;
			margin: -12px 0 0;
			opacity: 1;
			overflow: hidden;
			padding: 0;
			position: absolute;
			right: 0.5em;
			text-align: center;
			top: 50%;
			width: 24px;
			
			&::before {
				color: $light-font-color;
				display: block;
				font-family: 'FontAwesome';
				font-size: 1em;
				left: 2px;
				position: relative;
				visibility: hidden;
			}
			
			&:hover {
				background-color: transparent;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 100%;
			}
		}
		
		.owl-prev {
			&, &:hover {
				background-image: url('../images/prev-arrow.png');
			}
			
			left: 0.5em;
			right: auto;
			
			&::before {
				content: '\f0d9';
				left: -1px;
			}
		}
		
		.owl-next {
			&, &:hover {
				background-image: url('../images/next-arrow.png');
			}
			
			&::before {
				content: '\f0da';
			}
		}
	}
}

html .owl-theme .owl-dots .owl-dot {
	vertical-align: middle;
	
	&.active, &:hover {
		> span {
			background: $fourth-bg-color;
		}
	}
	
	&.active > span {
		height: 15px;
		width: 15px;
	}
}

.boxes {
	align-items: flex-start;
	background: $tertiary-bg-color;
	border-radius: 0.25em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 1em;
	padding: 0 0.5em 1em;
	
	> .box {
		background: #fff;
		border-radius: 0.25em;
		box-shadow: 0 1px 2px 0 rgba($drop-shadow-bg-color, 0.2);
		display: inline-block;
		margin-top: 1em;
		max-width: 270px;
		overflow: hidden;
		transition: box-shadow 0.4s;
		width: 100%;
		
		&:hover {
			box-shadow: 0 1px 12px 0 rgba($drop-shadow-bg-color, 0.2);
			
			.box-image::before {
				opacity: 1;
			}
		}
		
		> a {
			display: block;
			font-weight: 400;
		}
		
		h3 {
			background: $secondary-bg-color;
			color: $light-font-color;
			font-size: 1.375em;
			line-height: 1.5em;
			padding: 0.25em 0.5em;
			text-align: center;
		}
		
		.box-image {
			position: relative;
			
			&::before {
				background: rgba($secondary-bg-color, 0.8);
				content: '';
				display: block;
				height: 100%;
				left: 0;
				opacity: 0;
				position: absolute;
				top: 0;
				transition: opacity 0.4s;
				width: 100%;
			}
		}
		
		.excerpt {
			padding: 1em;
			text-align: center;
		}
	}
}

.article-jump {
	border-top: 1px dashed #b3b3b3;
	padding-top: 1.5em;
	text-align: center;
	
	&:not(:first-child) {
		margin-top: 1em;
	}
	
	> a.button {
		color: $light-font-color !important;
		display: inline-block;
		margin: 0.5em;
	}
}

.feel-inspired {
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba($drop-shadow-bg-color, 0.2);
	padding: 2em;
	text-align: center;
	
	@media (max-width: 420px) {
		padding: 1em;
	}
	
	> h2 > span {
		color: $link-color;
	}
	
	> h3 {
		color: #808080;
		font-family: $body-font;
		font-size: 0.875rem;
		letter-spacing: 0.06em;
		line-height: 1.5em;
		text-transform: uppercase;
	}
	
	> span.bold {
		display: block;
		margin-top: 0.5em;
	}
	
	> .buttons > button {
		margin: 1em 0.5em;
		outline: none;
		transition: background 0.4s;
		
		&:not(.selected) {
			background: #aaa;
			
			&:hover {
				background: #91bad0;
			}
		}
	}
	
	> .recipes, > .products {
		border-top: 1px dashed #ddd;
		margin-top: 2em;
		padding-top: 1em;
		
		@media (max-width: 420px) {
			margin-top: 1em;
		}
		
		> div {
			&:not(:first-child) {
				display: none;
			}
			
			> h3 {
				float: left;
				font-weight: 400;
				
				@media (max-width: 500px) {
					float: none;
				}
			}
			
			> a {
				color: $link-color;
				float: right;
				font-weight: 400;
				
				@media (max-width: 500px) {
					float: none;
				}
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	
	.ak-post-widgets {
		body:not(.post-type-archive-apps-books) & {
			margin-top: 1em;
			padding-bottom: 0;
		}
		
		.post-widget {
			flex: 1 1 240px;
			max-width: 240px;
			
			@media (max-width: 600px) {
				display: block;
				flex: 1 1 260px;
				margin: 1em 0 0;
				max-width: 260px;
			}
		}
	}
}

/**
 * Single | Apps & Books
 */
body.single-apps-books .page-header {
	padding-bottom: 1em;
	
	.images-info > .cell {
		&:first-child:not(:only-child) {
			> a:only-child {
				display: inline-block;
				padding-bottom: 1em;
			}
			
			> span {
				display: block;
				font-size: 0.75em;
				font-weight: 700;
				line-height: 1.5em;
				margin-top: 1rem;
				text-transform: uppercase;
				
				+ .image-thumbnails {
					display: block;
					padding: 0;
					
					.owl-nav {
						display: none;
					}
					
					> .owl-dots {
						margin-top: 10px;
					}
				}
			}
		}
		
		&:last-child:not(:only-child) {
			padding-left: 2em;
			
			@media (max-width: 767px) {
				padding-left: 0;
			}
		}
	}
	
	+ .wysiwyg-content {
		padding-top: 0;
	}
}

body.single-apps-books .images-info .recipe-info {
	padding-left: 0;
	
	.recipe-info-container {
		min-height: 0;
		
		> div:not(:first-child) {
			margin-top: 1em;
		}
		
		h5 {
			display: inline-block;
		}
	}
}

.book-types {
	.recipe-info + & {
		margin-top: 1.5em;
	}
	
	> span {
		display: block;
		font-size: 0.75em;
		font-weight: 700;
		line-height: 1.5em;
		margin-bottom: 1rem;
		text-transform: uppercase;
		
		&::after {
			background-image: url('../images/cart.png');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 28px 18px;
			content: '';
			display: inline-block;
			height: 18px;
			margin-left: 0.5em;
			vertical-align: middle;
			width: 28px;
		}
	}
	
	.book-type img {
		max-width: 135px;
		width: 100%;
	}
}

body.single-apps-books .generic-page > .container > .table > .cell:first-child > .wysiwyg-content {
	border-top: 1px dashed $mid-font-color;
	margin: 0 2em;
	padding: 1em 0;
	
	@media (max-width: 500px) {
		margin: 0 1em 1em;
	}
}

.related-content {
	margin-top: 2em;
	
	> h2 {
		border-bottom: 1px dashed #ddd;
		float: left;
		margin-bottom: 0.5rem;
		padding-bottom: 0.5rem;
		
		@media (max-width: 500px) {
			float: none;
		}
	}
	
	> a {
		color: $link-color;
		float: right;
		font-weight: 400;
		
		@media (max-width: 500px) {
			float: none;
		}
		
		&:hover {
			text-decoration: underline;
		}
	}
	
	> .ak-post-widgets {
		padding-bottom: 0;
	}
}

/**
 * Single | Competitions
 */
.survey-embed {
	padding: 0 2em 2em;
	text-align: center;
	
	> * {
		margin: 0 auto !important;
	}
	
	.gform_wrapper {
		overflow-x: initial;
	}
}

.survey-closed {
	background: $secondary-bg-color;
	color: $light-font-color;
	padding: 1em;
	text-align: center;
	
	> h3 {
		color: $light-font-color;
	}
}

body.single-competitions .ingredients-method-container {
	padding-bottom: 2em;
}

html.cssfilters body.single-competitions .ingredients-method-container > .gated {
	height: auto;
	position: relative;
	
	&::before {
		display: none;
	}
}

/**
 * Single | Products
 */
body.single-products .page-header {
	.images-info > .cell:last-child:not(:only-child) {
		padding-left: 2em;
		
		@media (max-width: 767px) {
			padding-left: 0;
		}
		
		> .wysiwyg-content {
			padding: 0;
			
			ul {
				padding-left: 0;
				
				> li {
					padding-left: 1.25em;
				
					&::before {
						background-image: url('../images/leaf.png');
						background-position: center center;
						background-repeat: no-repeat;
						background-size: 13px 18px;
						content: '';
						height: 26px;
						width: 13px;
					}
				}
			}
			
			+ .icons {
				margin-top: 1em;
			}
		}
		
		> .icons {
			@media (max-width: 425px) {
				text-align: center;
			}
			
			> img {
				margin: 0 0.5em 1em 0;
				max-width: 60px;
				
				@media (max-width: 425px) {
					margin: 0 0.5em 1em;
				}
			}
		}
		
		> .retailers {
			margin-top: 1em;
			position: relative;
			z-index: 1;
			
			@media (max-width: 425px) {
				text-align: center;
			}
			
			> span {
				display: block;
				font-size: 0.75em;
				font-weight: 700;
				line-height: 1.5em;
				margin-bottom: 1rem;
				text-transform: uppercase;
				
				&::after {
					background-image: url('../images/cart.png');
					background-position: center center;
					background-repeat: no-repeat;
					background-size: 28px 18px;
					content: '';
					display: inline-block;
					height: 18px;
					margin-left: 0.5em;
					vertical-align: middle;
					width: 28px;
				}
			}
			
			> a {
				display: inline-block;
				margin: 0 0.5em 1em 0;
				vertical-align: middle;
				width: 110px;
				
				> .button {
					display: inline-block;
					text-align: center;
					width: 100%;
				}
			}
		}
	}
	
	+ .wysiwyg-content {
		padding-top: 0;
	}
}

.additional-product-images {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 2em 1em;
	
	@media (max-width: 600px) {
		flex-direction: column;
	}
	
	> .gallery {
		display: inline-block;
		padding-right: 1em;
		width: 50%;
		
		@media (max-width: 600px) {
			padding-right: 0;
			text-align: center;
			width: 100%;
		}
	}
	
	> .nutritionally-approved-banner {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;
		width: 50%;
		
		@media (max-width: 600px) {
			width: 100%;
		}
		
		> img:first-child {
			align-self: flex-end;
			display: inline-block;
			position: relative;
			z-index: 1;
			
			@media (max-width: 600px) {
				align-self: center;
				margin-top: 1em;
			}
		}
	}
}

html .mfp-iframe-holder .mfp-close {
	color: #333;
	padding-right: 0;
	text-align: center;
	width: 44px;
}

/**
 * Single | Recipes
 */
.title-allergens {
	> * {
		display: inline-block;
	}
	
	> h1:not(:only-child) {
		margin-right: 1rem;
	}
}

html .qtip-content {
	text-align: center;
}

.allergen {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0.25em 0;
	max-width: 45px;
	position: relative;
	
	img:last-child:not(:only-child) {
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		transition: opacity 0.4s;
	}
	
	&:hover img:last-child:not(:only-child) {
		opacity: 1;
	}
}

.qtip {
	&.qtip-default {
		background-color: $secondary-bg-color;
		border: none;
		border-radius: 0.25em;
		box-shadow: 0 1px 2px 0 rgba($drop-shadow-bg-color, 0.2);
		color: $light-font-color;
		font-size: 1em;
		line-height: 1.5em;
		padding: 0.1em 0.5em;
	}
	
	> .qtip-tip {
		background-color: $secondary-bg-color;
		border-color: $link-color;
	}
}

.popup-youtube {
	display: inline-block;
	position: relative;
	
	> img:first-child {
		left: 50%;
		margin: -22.5px 0 0 -22.5px;
		position: absolute;
		top: 50%;
		width: 45px;
		z-index: 1;
	}
}

.images-info {
	margin-top: 2em;
	table-layout: fixed;
	
	> .cell {
		vertical-align: top;
		
		@media (max-width: 767px) {
			display: block;
		}
		
		&:first-child:not(:only-child) {
			width: 47.739%;
			
			@media (max-width: 767px) {
				margin: 0 auto 1em;
				max-width: 380px;
				width: 100%;
			}
		}
		
		> .image-thumbnails {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			
			&:not(.owl-loaded)::after {
				content: '';
				display: inline-block;
				max-width: 30%;
				width: 100%;
			}
			
			> a {
				max-width: 30%;
			}
			
			a {
				border-radius: 0.25em;
				display: inline-block;
				margin-top: 1em;
				opacity: 0.8;
				overflow: hidden;
				transition: opacity 0.4s;
				
				&:hover {
					opacity: 1;
				}
			}
		}
		
		&.carousel > .owl-carousel {
			padding: 0;
		}
		
		.popup-youtube {
			display: inline-block;
			position: relative;
			
			> img:first-child {
				left: 50%;
				margin: -22.5px 0 0 -22.5px;
				position: absolute;
				top: 50%;
				width: 45px;
				z-index: 1;
			}
		}
	}
	
	.cell:not(:only-child) .recipe-info {
		padding-left: 1em;
		
		@media (max-width: 767px) {
			padding-left: 0;
		}
	}
	
	.recipe-info {
		@media (max-width: 767px) {
			padding-left: 0;
		}
		
		.recipe-info-container {
			background: $bg-color;
			border-radius: 0.25em;
			padding: 1em;
			
			.cell {
				vertical-align: middle;
				
				&:first-child {
					padding: 0.5em 1em 0.5em 0;
					text-align: center;
					width: calc(38px + 1em);
					
					&.yield > img {
						max-width: 30px;
					}
				}
				
				h5 {
					display: inline-block;
					margin-right: 0.25em;
				}
				
				a {
					color: $link-color;
					font-weight: 400;
					
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	
	.recipe-tags {
		border-top: 1px dashed $mid-font-color;
		color: $link-color;
		margin-top: 1em;
		padding-top: 1em;
		
		> img {
			margin-right: 0.5em;
			max-width: 31px;
			vertical-align: middle;
		}
		
		> a {
			color: $link-color;
			font-size: 0.875em;
			font-weight: 400;
			line-height: 1.5em;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

body.single-recipes .page-header.sponsored {
	.cell.gallery > a.open-gallery {
		display: inline-block;
		position: relative;
		
		&::before {
			background-image: url('../images/sponsored-content.png');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 50px 58px;
			content: '';
			display: block;
			height: 58px;
			position: absolute;
			right: 10px;
			top: 10px;
			width: 50px;
			z-index: 1;
		}
	}
	
	.cell.carousel > .owl-carousel {
		position: relative;
		
		&::before {
			background-image: url('../images/sponsored-content.png');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 50px 58px;
			content: '';
			display: block;
			height: 58px;
			position: absolute;
			right: 10px;
			top: 10px;
			width: 50px;
			z-index: 1;
		}
	}
}

html .pswp__bg {
	background: rgba(0, 0, 0, 0.75);
}

body.single-recipes .page-header + .wysiwyg-content {
	padding-top: 0;
}

body.single-recipes .generic-page > .container > .table > .cell:first-child > .wysiwyg-content {
	border-bottom: 1px dashed $mid-font-color;
	border-top: 1px dashed $mid-font-color;
	margin: 0 2em 2em;
	padding: 1em 0;
	
	@media (max-width: 500px) {
		margin: 0 1em 1em;
	}
}

.ingredients-method-container {
	position: relative;
	
	> .gated {		
		> .container {
			background: $fourth-bg-color;
			color: $light-font-color;
			display: block;
			margin: 0 auto;
			max-width: 420px;
			padding-top: 2em;
			text-align: center;
			
			> div {
				display: block;
				width: 100%;
				
				&.existing-customers > img {
					margin-top: 0;
				}
				
				&.new-customers {
					border-left: none;
					display: block !important;
				}
			}
			
			h2 {
				display: block !important;
			}
		}
		
		+ .ingredients-method {
			display: none;
		}
	}
}

.ebook::before {
	background-image: url('../images/ebook.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 17px 16px;
	content: '';
	display: inline-block;
	height: 16px;
	margin: -0.2em 0.5em 0 0;
	vertical-align: middle;
	width: 27px;
}

.check::before {
	background-image: url('../images/check.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 27px 16px;
	content: '';
	display: inline-block;
	height: 16px;
	margin: -0.2em 0.5em 0 0;
	vertical-align: middle;
	width: 27px;
}

.offers::before {
	background-image: url('../images/offers.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 18px 16px;
	content: '';
	display: inline-block;
	height: 16px;
	margin: -0.2em 0.5em 0 0;
	vertical-align: middle;
	width: 27px;
}

.ak-newsletter::before {
	background-image: url('../images/ak-newsletter.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 18px 24px;
	content: '';
	display: inline-block;
	height: 24px;
	margin: -0.2em 0.5em 0 0;
	vertical-align: middle;
	width: 27px;
}

html.cssfilters .ingredients-method-container {
	&.padded {
		min-height: 755px;
		padding: 2em 0;
		
		@media (max-width: 600px) {
			min-height: 0;
			padding: 0;
		}
	}
	
	> .gated {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
		
		@media (max-width: 600px) {
			position: static;
		}
			
		&::before {
			background: rgba($drop-shadow-bg-color, 0.6);
			content: '';
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			
			@media (max-width: 600px) {
				display: none;
			}
		}
		
		> .container {
			margin-top: 2em;
			position: relative;
		}
		
		+ .ingredients-method {
			display: table;
			filter: blur(3px);
			overflow: hidden;
			
			@media (max-width: 600px) {
				display: none;
			}
		}
	}
}

.ingredients-method {
	table-layout: fixed;
	
	> .cell {
		vertical-align: top;
		
		@media (max-width: 600px) {
			display: block;
		}
		
		&:first-child {
			padding-left: 2em;
			
			&:not(:only-child) {
				padding-right: 0.5em;
				
				@media (max-width: 600px) {
					padding-right: 2em;
				}
				
				@media (max-width: 500px) {
					padding: 0 1em;
				}
			}
			
			@media (max-width: 600px) {
				padding-right: 2em;
			}
			
			@media (max-width: 500px) {
				padding: 0 1em;
			}
		}
		
		&:last-child {
			padding-right: 2em;
			
			@media (max-width: 600px) {
				margin-top: 1.5em;
			}
			
			&:not(:only-child) {
				padding-left: 0.5em;
				
				@media (max-width: 600px) {
					padding-left: 2em;
				}
				
				@media (max-width: 500px) {
					padding: 0 1em;
				}
			}
			
			@media (max-width: 600px) {
				padding-left: 2em;
			}
			
			@media (max-width: 500px) {
				margin-top: 1em;
				padding: 0 1em;
			}
		}
		
		> .ingredient-sections {
			background: #eff8fd;
			border-radius: 0.25em;
			overflow: hidden;
			
			> h2 {
				background-color: $fourth-bg-color;
				background-image: url('../images/ingredients.png');
				background-position: right 0.5rem center;
				background-repeat: no-repeat;
				background-size: 45px 40px;
				color: $light-font-color;
				font-size: 1.625em;
				line-height: 1.357em;
				margin-bottom: 0.5rem;
				padding: 0.75rem 4rem 0.75rem 1rem;
			}
			
			> h4 {
				padding: 0.5rem 1rem 0;
			}
			
			> ul {
				list-style: none;
				margin: 0.5em 1em;
				padding-bottom: 1em;
				
				&:not(:last-child) {
					border-bottom: 1px dashed $secondary-bg-color;
				}
				
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		
		> .method {
			border-radius: 0.25em;
			overflow: hidden;
			
			> h2 {
				background-color: $fourth-bg-color;
				background-image: url('../images/method.png');
				background-position: right 0.5rem center;
				background-repeat: no-repeat;
				background-size: 45px 40px;
				color: $light-font-color;
				font-size: 1.625em;
				line-height: 1.357em;
				padding: 0.75rem 4rem 0.75rem 1rem;
			}
			
			> .wysiwyg-content {
				border: 1px solid #ddd;
				border-bottom-left-radius: 0.25em;
				border-bottom-right-radius: 0.25em;
				padding: 1em;
				
				blockquote, p, ol, table, ul, .caption-wrapper {
					margin: 0.5em 0;
					
					&:first-child {
						margin-top: 0;
					}
					
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

/**
 * Single | Videos
 */
.video-wrapper {
	padding-top: 2em;
}

/**
 * Taxonomy | Product Category
 */
body.archive .container > .table > .cell:first-child > .flexible-content > .wysiwyg-content {
	padding: 0;
}

/**
 * Taxonomy | Product Category | Chilled Toddler Meals
 */
body.tax-product-category {
	&.term-chilled-toddler-meals, &.term-frozen-meals {
		.breadcrumbs {
			display: none;
		}
		
		.category-page {
			padding: 0 0 20px;
			
			> .container > .table > .cell {
				> .flexible-content {
					padding: 1em 2em 0;
				}
				
				> .ak-post-widgets {
					padding: 0 2em;
					
					.post-widget {
						flex: 1 1 250px;
						max-width: 250px;
						
						@media (max-width: 1160px) {
							flex: 1 1 260px;
							max-width: 260px;
						}
					}
				}
				
				> h2 {
					text-align: center;
				}
				
				.frozen-sarah {
					margin-top: 2em;
				}
			}
		}
	}
}

body.admin-bar.tax-product-category.term-chilled-toddler-meal::before {
	top: 196px;
}

/**
 * Taxonomy | Product Category | Frozen Meals
 */
body.tax-product-category.term-frozen-meals, body.frozen-meals, body.page-slug-frozen-meals {
	background-image: url('../images/snowflake-bg.png');
	background-size: 261px 476px;
}

/**
 * Registration
 */
#signup-welcome > p:last-child {
	display: none;
}

/**
 * Sidebar
 */
#sidebar {
	> .widget:not(:first-child) {
		margin-top: 1em;
	}
	
	> .adrotate_widgets {
		display: flex;
		flex-direction: column-reverse;
		
		> .a-single {
			border-radius: 0.25em;
			box-shadow: 0 1px 2px 0 rgba($drop-shadow-bg-color, 0.2);
			overflow: hidden;
		}
		
		> h2 {
			color: #666;
			font-family: $body-font;
			font-size: 0.625em;
			letter-spacing: 0.02em;
			line-height: 1.5em;
			margin-top: 1em;
			text-align: center;
			text-transform: uppercase;
		}
	}
}

.post-widget {
	background: #fff;
	border: 1px solid rgba($drop-shadow-bg-color, 0.1);
	border-radius: 0.25em;
	box-shadow: 0 1px 6px 0 rgba($drop-shadow-bg-color, 0.2);
	overflow: hidden;
	transition: box-shadow 0.4s;
	
	&:hover {
		box-shadow: 0 1px 12px 0 rgba($drop-shadow-bg-color, 0.2);
	}
	
	h4 {
		overflow: hidden;
	}
	
	.post-widget-header {
		padding: 1em;
		text-align: center;
		
		> span {
			color: $link-color;
			font-size: 0.813em;
			font-weight: 700;
			letter-spacing: 0.06em;
			line-height: 1.5em;
			text-transform: uppercase;
		}
	}
	
	&.sponsored .post-widget-thumbnail {
		position: relative;
		
		&::before {
			background-image: url('../images/sponsored-content.png');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 50px 58px;
			content: '';
			display: block;
			height: 58px;
			position: absolute;
			right: 10px;
			top: 10px;
			width: 50px;
			z-index: 1;
		}
	}
	
	img {
		width: 100%;
	}
	
	.bottom-cat {
		border-bottom: 1px dashed $link-color;
		font-family: $heading-font;
		font-weight: 700;
		letter-spacing: 0.02em;
		line-height: 1.625rem;
		padding: 0.25em 1em;
		text-align: center;
		text-transform: uppercase;
	}
	
	a:not(.has-post-thumbnail) + .bottom-cat {
		border-top: 1px dashed $link-color;
	}
	
	.excerpt {
		color: #666;
		font-size: 0.875em;
		font-weight: 400;
		line-height: 1.5em;
		padding: 1rem;
		text-align: center;
	}
	
	.save {
		margin-top: 1em;
		padding: 1rem;
		text-align: center;
		
		> a {
			background: $tertiary-bg-color;
			color: #8dc8e8;
			font-size: 0.875em;
			line-height: 1em;
			padding: 0 1em;
			position: relative;
			z-index: 1;
			
			&::before {
				background-image: url('../images/blue-heart.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 19px 17px;
				content: '';
				display: inline-block;
				height: 17px;
				margin: -4px 0.5em 0 0;
				vertical-align: middle;
				width: 19px;
			}
		}
	}
	
	body:not(.home) & {
		a.excerpt-link, .bottom-cat {
			+ .save {
				margin-top: 0;
				padding-top: 0;
			}
		}
	}
}

.widget_ak_subscription_widget {
	background: $fourth-bg-color;
	color: $light-font-color;
	
	> h2 {
		background: url('../../../plugins/subscription-widget/envelope.png');
		background-position: right 5px top 5px;
		background-repeat: no-repeat;
		background-size: 30px 30px;
		border-bottom: 1px dashed $light-font-color;
		color: $light-font-color;
		font-size: 1.25em;
		font-weight: 400;
		letter-spacing: normal;
		margin-bottom: 0.5em;
		padding: 1em 0.5em 0.5em;
		text-align: center;
	}
	
	> .description {
		font-size: 0.875em;
		line-height: 1.5em;
		padding: 0 0.7143em 0.7143em;
		text-align: center;
	}
	
	> form {
		padding: 0 0.625em 0.625em;
		text-align: center;
		
		> input {
			display: block;
			text-align: center;
			width: 100%;
			
			&:last-child {
				margin: 0.625em auto 0;
				width: auto;
			}
		}
	}
}

body {
	.mfp-bg {
		opacity: 0.7;
	}
	
	.mfp-content {
		text-align: center;
	}
	
	.mfp-close {
		background: #fff;
		border-radius: 100%;
		opacity: 1;
		right: -22px;
		top: -35px;
		
		&:active {
			top: -35px;
		}
	}
}

/**
 * Footer
 */
#footer {
	body.logged-in & {
		border-top: 1px dashed $link-color;
	}
	
	body.single-products[style] & {
		background: $bg-color;
		background-image: url('../images/apple-bg.png');
		background-position: center center;
		background-repeat: repeat;
		background-size: 228px 474px;
	}
	
	> .social > .container {
		margin: 0 auto;
		max-width: 1200px;
		padding: 2em 20px;
		
		.insta-feed {
			background: $tertiary-bg-color;
			border-radius: 0.25em;
			box-shadow: 0 1px 2px 0 rgba($drop-shadow-bg-color, 0.2);
			padding: 2em;
			
			@media (max-width: 550px) {
				display: none;
			}
			
			> h5 {
				border-bottom: 1px solid #ddd;
				font-weight: 400;
				padding-bottom: 2rem;
				
				&::before {
					background-image: url('../images/instagram.png');
					background-position: center bottom;
					background-repeat: no-repeat;
					background-size: 27px 27px;
					content: '';
					display: inline-block;
					height: 27px;
					margin-right: 1rem;
					vertical-align: middle;
					width: 27px;
				}
				
				> a {
					float: right;
				}
			}
			
			.niw-instagram-wrapper {
				margin-top: 2em;
			}
			
			+ .fb-twitter-feeds {
				margin-top: 2em;
			}
		}
		
		.niw-instagram-wrapper {
			display: flex;
			justify-content: space-between;
			
			@media (max-width: 1200px) {
				flex-wrap: wrap;
				margin: 0 auto;
				max-width: 580px;
				
				> a {
					margin-bottom: 0.5em;
				}
			}
			
			@media (max-width: 600px) {
				justify-content: space-around;
			}
			
			@media (max-width: 425px) {
				flex-wrap: nowrap;
			}
			
			> a {
				display: inline-block;
				flex: 1 1 175px;
				max-width: 175px;
				position: relative;
				transition: box-shadow;
				
				@media (max-width: 425px) {
					&:first-child {
						margin-right: 0.5em;
					}
					
					&:nth-child(2) {
						margin-left: 0.5em;
					}
					
					&:nth-child(n+3) {
						display: none !important;
					}
				}
				
				&::before {
					background: linear-gradient(to bottom, rgba($drop-shadow-bg-color, 0.5) 0%, rgba($drop-shadow-bg-color, 0) 25%, rgba($drop-shadow-bg-color, 0) 100%);
					content: '';
					display: block;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					transition: opacity 0.4s;
					width: 100%;
				}
				
				&::after {
					color: $light-font-color;
					content: '\f16d';
					font-family: 'FontAwesome';
					display: block;
					left: 0.5em;
					line-height: 1em;
					position: absolute;
					top: 0.5em;
					transition: opacity 0.4s;
				}
				
				&:hover {
					&::before, &::after {
						opacity: 0;
					}
				}
			}
		}
		
		> .fb-twitter-feeds {
			display: flex;
			justify-content: space-between;
			
			@media (max-width: 1060px) {
				align-items: center;
				flex-direction: column;
				
				> div:not(:first-child) {
					margin-top: 1em;
				}
			}
			
			@media (max-width: 550px) {
				display: none;
			}
			
			> .fb-feed {
				background: $tertiary-bg-color;
				border-radius: 0.25em;
				box-shadow: 0 1px 2px 0 rgba($drop-shadow-bg-color, 0.2);
				display: inline-block;
				padding: 2em;
				width: 48%;
				
				@media (max-width: 1060px) {
					max-width: 600px;
					width: 100%;
				}
				
				> h5 {
					border-bottom: 1px solid #ddd;
					font-weight: 400;
					padding-bottom: 2rem;
					
					&::before {
						color: #3b5998;
						content: '\f230';
						display: inline-block;
						font-family: 'FontAwesome';
						font-size: 1.5em;
						margin-right: 1rem;
						vertical-align: middle;
					}
					
					> .fb_iframe_widget {
						float: right;
					}
				}
				
				> .fb-post {
					margin-top: 2em;
				}
			}
			
			> .twitter-feed {
				background: $tertiary-bg-color;
				border-radius: 0.25em;
				box-shadow: 0 1px 2px 0 rgba($drop-shadow-bg-color, 0.2);
				display: inline-block;
				padding: 2em;
				width: 48%;
				
				@media (max-width: 1060px) {
					max-width: 600px;
					width: 100%;
				}
				
				> h5 {
					border-bottom: 1px solid #ddd;
					font-weight: 400;
					padding-bottom: 2rem;
					
					&::before {
						color: #00aced;
						content: '\f099';
						display: inline-block;
						font-family: 'FontAwesome';
						font-size: 1.5em;
						margin-right: 1rem;
						vertical-align: middle;
					}
					
					> iframe {
						float: right;
					}
				}
				
				> .tweet {
					margin-top: 2em;
				}
			}
		}
	}
	
	> .container {
		background: $fourth-bg-color;
		
		> .menu {
			color: $light-font-color;
			font-size: 0.75em;
			display: flex;
			justify-content: space-around;
			margin: 0 auto;
			max-width: 1200px;
			padding: 1em 20px;
			
			@media (max-width: 600px) {
				align-items: center;
				flex-direction: column;
			}
			
			> li {
				display: inline-block;
				
				> .sub-menu .sub-menu {
					display: none !important;
				}
			}
			
			a {
				font-weight: 400;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	
	> .copy-attr {
		background: $tertiary-bg-color;
		position: relative;
		
		> .container {
			font-size: 0.75em;
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
			max-width: 1200px;
			padding: 0.5em 20px;
			
			@media (max-width: 600px) {
				align-items: center;
				flex-direction: column;
			}
			
			> div {
				display: inline-block;
			}
			
			a {
				font-weight: 400;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.fb-post, .tweet {
	> img {
		border: 1px solid #ddd;
		float: left;
		margin: 0 1em 1em 0;
		max-width: 48px;
	}
	
	> div > a:hover {
		text-decoration: underline;
	}
	
	p > a {
		color: $link-color;
		font-weight: 400;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

.tweet > div > a {
	font-weight: 400;
}

.social-accounts {
	color: #8dc8e8;
	display: flex;
	font-size: 1.5em;
	justify-content: space-around;
	line-height: 1.5em;
	margin-top: 2rem;
	text-align: center;
	
	@media (max-width: 550px) {
		margin-top: 0;
	}
	
	> a {
		display: inline-block;
		opacity: 0.75;
		transition: opacity 0.4s;
		
		&:hover {
			opacity: 1;
		}
		
		> .sa-facebook {
			color: #3b5998;
		}
		
		> .sa-twitter {
			color: #00aced;
		}
		
		> .sa-instagram {
			color: #517fa4;
		}
		
		> .sa-google {
			color: #dd4b39;
		}
		
		> .sa-pinterest {
			color: #cb2027;
		}
		
		> .sa-youtube {
			color: #b00;
		}
	}
}

#create-new-collection, #edit-collection {
	background: $tertiary-bg-color;
	display: none;
	max-width: 640px;
	position: relative;
	width: 100%;
	
	> h3 {
		background: $secondary-bg-color;
		color: $light-font-color;
		padding: 0.5rem 1rem;
	}
	
	> form {
		padding: 1em;
	}
	
	input[type='text'] {
		border-color: #ddd;
		margin-bottom: 1em;
		max-width: 300px;
		width: 100%;
		
		&:active, &:focus {
			border-color: $link-color;
		}
	}
}

#save-content-to {
	background: $tertiary-bg-color;
	display: none;
	max-width: 640px;
	position: relative;
	width: 100%;
	
	> h3 {
		background: $secondary-bg-color;
		color: $light-font-color;
		padding: 0.5rem 1rem;
	}
	
	> form {
		padding: 1em;
		
		> a {
			color: $link-color;
			display: block;
			font-size: 0.75em;
			font-weight: 400;
			margin: -1rem 0 1rem;
			
			&:hover {
				text-decoration: underline;
			}
			
			&:last-child {
				margin: 0;
			}
		}
	}
	
	.bootstrap-namespaced {
		margin: 1em 0;
	}
}

#login .mfp-close {
	right: -10px;
	top: -10px;
}

#login, .gated > .container {
	background: $fourth-bg-color;
	color: $light-font-color;
	display: none;
	margin: 0 auto;
	max-width: 840px;
	position: relative;
	text-align: left;
	
	@media (max-width: 768px) {
		flex-direction: column;
		max-width: 420px;
	}
	
	> div {
		display: inline-block;
		width: 50%;
		
		@media (max-width: 768px) {
			width: 100%;
		}
		
		&.existing-customers {
			padding: 1em 20px;
			text-align: center;
			
			> img {
				margin: 2em 0;
				max-width: 200px;
			}
			
			> h2 {
				font-family: 'Open Sans', sans-serif;
				font-size: 1em;
				font-weight: 600;
				margin-top: 1em;
				text-align: center;
				text-transform: uppercase;
				
				> span {
					font-weight: 700;
					text-decoration: none;
				}
			}
		}
		
		&.new-customers {
			border-left: 2px dashed $light-font-color;
			
			> h2 {
				background-image: url('../images/register-bg-bubble.png');
				background-repeat: no-repeat;
				background-size: 100%;
				font-family: 'Open Sans', sans-serif;
				font-size: 1em;
				font-weight: 600;
				margin-top: 1em;
				padding: 2rem 20px 4rem;
				text-align: center;
				text-transform: uppercase;
				
				@media (max-width: 500px) {
					background: #4b9fce;
					margin-bottom: 1rem;
					padding: 1rem 20px;
				}
			}
			
			> p {
				font-family: 'Open Sans', sans-serif;
				font-weight: 600;
				padding: 0 20px;
				text-align: center;
				text-transform: uppercase;
				
				&:last-child {
					padding: 1em 20px;
				}
			}
		}
	}
	
	h2 {
		color: $light-font-color;
		font-weight: 400;
		
		@media (max-width: 768px) {
			display: none;
		}
		
		> span {
			font-weight: 700;
			text-decoration: underline;
		}
	}
	
	form {
		margin-top: 1em;
		
		label {
			display: none;
		}
		
		.input {
			padding: 0.5em 0.5em 0.5em 2.5em;
			margin-bottom: 0.5em;
			width: 100%;
		}
		
		#pp_user_login {
			background-image: url('../images/envelope.png');
			background-position: left 6px center;
			background-repeat: no-repeat;
			background-size: 21px;
		}
		
		#pp_user_pass {
			background-image: url('../images/unlock.png');
			background-position: left 10px center;
			background-repeat: no-repeat;
			background-size: 13px;
		}
		
		.login-submit {
			margin-top: 0.5em;
			text-align: center;
		}
	}
	
	&.error form .input {
		border-color: #f00;
	}
	
	ul {
		margin: 0;
		padding: 1em 2em;
		text-align: left;
		
		> li {
			list-style: none;
			
			&:first-child {
				border-top: 1px dotted $light-font-color;
				padding-top: 1em;
			}
		}
	}
}

/**
 * Imported styles from old site
 */
.alignleft { display: inline; float: left; margin-top: 1em; margin-right: 1.615em; }
.alignright { display: inline; float: right; margin-top: 1em; margin-left: 1.615em; }
.aligncenter { clear: both; display: block; margin: 1em auto; }

@media (max-width: 768px) {
	.alignleft, .alignright, .aligncenter {
		display: block; float: none; margin: 1em auto; max-width: 100%;
		
		&:first-child {
			margin-top: 0;
		}
	}
}

/**
 * WP Overrides
 */
@media screen and (max-width: 600px) {
	#wpadminbar {
		position: fixed !important;
	}
}