.post-widget{
	transform: scale(1);
	opacity: 1.0;
}
.ingredients-method>.cell>.ingredient-sections,.ingredients-method>.cell>.method{
	overflow: inherit !important;
}
.skid,.recipe-filter h2,.widget_ak_subscription_widget h2, .ingredient-sections h2, .method h2{
	position: relative;
	&:before{
		content: '';
	    background-image: url(../images/skidmark.png);
	    height: 10px;
	    position: absolute;
	    background-repeat: repeat-y;
	    top: -6px;
	    width: 100%;
	    left: 0px;
	   	background-size: 2846px;
	    background-position: center;
	    pointer-events: none;
	}
	&:after{
	    background-repeat: no-repeat;
	    background-repeat: repeat-y;
	    content: '';
	    width: 100%;
	    bottom: -6px;
	    background-image: url(../images/skidmark.png);
	    height: 9px;
	    position: absolute;
	    left: 0px;
	    z-index: 1;
	    background-size: 2846px;
	    background-position: center;
	    pointer-events: none;
	}
}
.single-competitions{
	input[type='email'], input[type='password'], input[type='search'], input[type='text'] {
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    background: #fff;
	    border: 1px solid #4da2d0;
	    border-radius: 0.25em;
	    font: inherit;
	    font-size: 0.875em;
	    line-height: 1em;
	    outline: none;
	    padding: 0.5em 1em;
	    -webkit-transition: border-color 0.4s;
	    transition: border-color 0.4s;
	}
}
.images-info .recipe-info .recipe-info-container{
		position: relative;
	&:before{
		content: '';
	    background-image: url(../images/blueskidmark.png);
	    height: 10px;
	    position: absolute;
	    background-repeat: repeat-y;
	    top: -6px;
	    width: 100%;
	    left: 0px;
	   	background-size: 2846px;
	    background-position: center;
	    pointer-events: none;
	}
	&:after{
	    background-repeat: no-repeat;
	    background-repeat: repeat-y;
	    content: '';
	    width: 100%;
	    bottom: -6px;
	    background-image: url(../images/blueskidmark.png);
	    height: 9px;
	    position: absolute;
	    left: 0px;
	    z-index: 1;
	    background-size: 2846px;
	    background-position: center;
	    pointer-events: none;
	}
}
.widget_ak_subscription_widget{ 
	position:relative;
	&:after{
	    background-repeat: no-repeat;
	    background-repeat: repeat-y;
	    content: '';
	    width: 100%;
	    bottom: -6px;
	    background-image: url(../images/skidmark.png);
	    height: 9px;
	    position: absolute;
	    left: 0px;
	    z-index: 1;
	    background-size: 2846px;
	    background-position: center;
	    z-index: 1;
	    pointer-events: none;
	}
	h2{
		&:after{
			display: none;
		}
	}
}
.front-page-board .fp-col {
	&:first-child:not(:only-child){
		padding-right: 10px;
	}
	&:nth-of-type(2){
		padding-left: 10px;
	}
	
	@media (max-width: 900px) {
		& {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
}
.recipe-filter:not(a)>img {
    width: 100%;
    background-color: rgba(194, 209, 217, 0);
    top: -6px;
    position: relative;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    height: 30px;
    width: 30px;
    &:before{
    	color: #fff;
	    display: block;
	    font-family: 'FontAwesome';
	    font-size: 1em;
	    left: 2px;
	    position: relative;
	    top: 2px;
    }
}
.owl-carousel .owl-nav .owl-next {
	    &:before{
    	color: #fff;
	    display: block;
	    font-family: 'FontAwesome';
	    font-size: 1em;
	    left: 1px;
	    position: relative;
	    top: 2px;
    }
}
.recipe-categories {
    padding: 1em 1em 0 !important;
}
.pending{
	#pp_loginform,a{
		display: none;
	}
}
.error{
	.login-password{
		background-color: red;
		&:after{
			content: 'The password/username you entered is wrong please double check and try again';
			position: relative;
		}
	}
}
.recipe-categories>a {
    background-color: #8dc8e8;
    border-radius: 3px;
    margin-bottom: 1.8em;
    .box-image{
    	overflow: hidden;
    }
    h4{
    	color:#fff !important;
    	background-color: #8dc8e8;
    	z-index: 4;
    }
    img{
    	    width: 100%;
    	   	-webkit-transition: all 0.7s; 
   	 		transition: all 0.7s;
   	 		transform: scale(1);
    }
    &:hover{
    	img{
    		-webkit-transition: all 0.7s ease; 
   	 		transition: all 0.7s ease;
   	 		transform: scale(1.1);
    	}
    }
}
html body .save-share{
	border-top: 2px dashed #b3b3b3 !important;
	border-bottom: 2px dashed #b3b3b3 !important;
}
.article-jump{
	border-top: 2px dashed #b3b3b3 !important;
}
.widget_ak_subscription_widget>h2 {
    border-bottom: 2px dashed #fff;
}
.post-widget .bottom-cat {
    border-bottom: 2px dashed #4da2d0;
}
body.logged-in #footer,.flexible-content>:not(.overlaying-image)+* h2::before, .flexible-content>:first-child h2:not(:first-child)::before {
    border-top: 2px dashed #4da2d0;
}
.side-skids{
	width: 100%;
	position: absolute;
	height: 50%;
	top:0px;
	&:before{
		content: '';
	    height: 210.5%;
	    width: 15px;
	    /* background-color: red; */
	    position: absolute;
	    left: -6px;
	    background-image: url(../images/skidmarkdown.png);
	    pointer-events: none;
	    top: -8%;
	    background-size: cover;
	}
	&:after{
	    content: '';
	    height: 203.5%;
	    width: 15px;
	    position: absolute;
	    right: -8px;
	    background-image: url(../images/skidmarkdown.png);
	    top: -2%;
	    background-size: cover;
	    background-position: center;
	    pointer-events: none;
	}
}
.post-widget{ 
	.save{
	    position: relative;
	    width: 100%;
	    height: 17px;
	    margin-bottom: 20px;
	    padding: 0px;
		&:before{
		    content: '';
		    border-bottom: 2px dashed #8dc8e8;
		    height: 3px;
		    width: 50%;
		    position: absolute;
		    left: 14px;
		    vertical-align: middle;
		    top: 53%;
		    /* display: table-cell; */
		}
		&:after{
		    content: '';
		    border-bottom: 2px dashed #8dc8e8;
		    height: 2px;
		    width: 50%;
		    position: absolute;
		    right: 14px;
		    vertical-align: middle;
		    top: 53%;
		}
	}
	.bottom-cat {
	    border-bottom: 2px dashed #ffffff;
	}
}
.post-type-archive-recipes{ 
	.recipe-categories-search{
		.cell{
			width: 100%;
			display: inline-block;
			&:nth-of-type(1){

			}
		}
	}
	.recipe-categories:not(:first-child){
		margin-bottom: 30px;
	}
	.recipe-categories-search .cell:last-child:not(:only-child) {
	    padding-left: 0em;
	}
}
.wysiwyg-content ul:not(.alm-listing)>li::before{
	content: none !important;
}
.hidden {
	display: none !important;
	height: 0 !important;
	opacity: 0 !important;
	visibility: none !important;
	width: 0 !important;
}
.gf_repeater_add::before { content: 'Add Child'; display: inline-block; margin-right: 0.5em; vertical-align: middle; }