@media print {
	#responsive-menu, #header, #footer, .breadcrumbs, .generic-page > .container > .table > .cell:last-child:not(:only-child), .related-content, .allergens, .save-share, body:not(.single-recipes) .images-info > .cell:first-child, .images-info .recipe-info .recipe-info-container::before, .images-info .recipe-info .recipe-info-container::after, .skid::before, .recipe-filter h2::before, .widget_ak_subscription_widget h2::before, .ingredient-sections h2::before, .method h2::before, .skid::after, .recipe-filter h2::after, .widget_ak_subscription_widget h2::after, .ingredient-sections h2::after, .method h2::after, img, .article-jump, .boxes-with-image, .recipe-categories, .boxes, .feel-inspired, .owl-carousel, .gallery-grid, .galleries, .flexslider, .overlaying-image {
		display: none !important;
	}
	
	* {
		background: none !important;
		box-shadow: none !important;
	}
	
	#content {
		padding-top: 0;
	}
	
	#outer-content {
		padding-top: 0;
	}
	
	.generic-page {
		padding: 0;
		
		> .container {
			max-width: none;
		}
	}
	.page-header, .page-footer, .wysiwyg-content {
		padding: 0;
	}
	
	.images-info .cell:not(:only-child) .recipe-info {
		padding-left: 0;
	}
	
	.images-info .recipe-info .recipe-info-container {
		padding: 0;
		
		.cell:first-child {
			display: none;
		}
	}
	
	body.single-recipes .page-header + .wysiwyg-content, .ingredients-method-container {
		margin-top: 2em;
	}
	
	.ingredients-method > .cell {
		display: block;
		padding: 0 !important;
		
		> .ingredient-sections > h2, .method > h2 {
			color: #353535;
			padding: 0;
		}
		
		> .ingredient-sections {
			> h4 {
				padding-left: 0;
			}
			
			> ul {
				margin: 0;
			}
		}
		
		> .method > .wysiwyg-content {
			border: none;
			padding: 0;
		}
	}
	
	.singular-wrapper > .flexible-content > div {
		margin-top: 1em;
	}
	
	.accordion .accordion-container {
		padding: 0 !important;
		
		> div {
			&:not(:first-child) {
				border-top: none;
				margin-top: 1em;
			}
			
			> a {
				color: #353535;
				padding: 0 0 1em 0;
				
				&::after {
					display: none !important;
				}
			}
			
			> div {
				display: block !important;
			}
		}
	}
	
	.wysiwyg-content blockquote, .wysiwyg-content p, .wysiwyg-content ol, .wysiwyg-content table, .wysiwyg-content ul, .wysiwyg-content .caption-wrapper {
		margin: 1em 0;
		
		&:first-child {
			margin-top: 0;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.wysiwyg-content table {
		border-collapse: collapse;
	}
	
	.wysiwyg-content table.table-style-1 td, .wysiwyg-content table.table-style-2 td, .wysiwyg-content table.table-style-3 td {
		border: 1px solid #353535;
	}
	
	.wysiwyg-content table.table-style-1 tr:first-child > td, .wysiwyg-content table.table-style-2 tr:first-child > td, .wysiwyg-content table.table-style-3 tr:first-child > td {
		color: #353535;
	}
	
	body.single-recipes .images-info > .cell > a > img {
		display: inline-block !important;
	}
}